{% extends 'baseproyect.html' %}
{% load static %}
{% block content %}
	<div class="c-layout-page">
        <img src="{% static 'assets/base/img/layout/logos/about.png'%}" alt="Estudio50Habana" style="width: 100%;height: 50%">


<div class="c-content-box c-size-xg c-bg-white" style="border-top: 2px solid #FFFFFF">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-client-logos-slider-1" data-slider="owl">
			<!-- End-->
			<!-- Begin: Owlcarousel -->
			<div class="c-content-box c-size-md">
	<div class="container">
        <div class="c-content-title-1">
				<h3 class="c-center c-font-bold">Service Catalog</h3>

			</div>
        <p class="c-center c-font-bold">We are extremely pround to refer to brands as more than just clients</p>

		<div class="c-content-tab-5 c-theme">
        <div class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="watches6">
					<div class="row">
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Equipment_A1720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Equipment</p>
                           <p class="c-center">
                            <a class="c-center" href="{% url 'equipment' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Locaciones_A1.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Locations</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Crew_A1720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Specialties</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
					</div>
					<div class="row c-margin-t-30">
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">
								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Talent_A1.jpg'%});">

                                </div>
								<div class="c-overlay-border">
                                </div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Talent</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Supplies_A1720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Supplies</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Art_A1720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Art</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
					</div>
                    <div class="row c-margin-t-30">
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Catering_A1720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Catering</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Transportacion_A1.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Transport</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
						<div class="col-sm-4">
							<div class="c-content c-content-overlay">
								<div class="c-overlay-wrapper c-overlay-padding">

								</div>
								<div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 300px; background-image: url({% static 'assets/base/img/content/Servicio_Stock_ComingSoon_A720.jpg'%});"></div>
								<div class="c-overlay-border"></div>

							</div>
                            <br>
                            <p class="c-center c-font-bold">Estudio50 Stock</p>
                            <p class="c-center">
                            <a class="c-center" href="{% url 'talent' %}" type="button" style="color: red; font-size: x-small;">Know More  ></a></p>
						</div>
					</div>
				</div>
        </div>
        </div>
    </div>
</div>

        </div></div>


</div>




	</div>
{% endblock %}