{% extends 'baseproyect.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
            <img src="{% static 'assets/base/img/layout/logos/about.png'%}" alt="Estudio50Habana" class="c-desktop-logo" style="width: 100%;height: 50%">
<div class="container">
		<div class="c-layout-sidebar-menu c-theme ">
    <ul class="c-shop-filter-search-1 list-unstyled">
	<li>
        <form method="GET">
            {{ equipamientos.form | bootstrap}}
            <button type="submit" class="c-btn-icon c-btn-square c-font-sbold"><span class="glyphicon glyphicon-search"></span>Buscar </button>
        </form>
    </li>
	<li>

	</li>
    </ul></div>
    <div class="c-layout-sidebar-content ">
    <div class="c-content-box c-size-xg c-bg-white" style="border-top: 2px solid #FFFFFF">
<div class="modal fade" id="id_modal_generico_mediano" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_title" style="font-weight: bold;"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div style="display: inline;">
                <div class="div_options"></div>
            </div>
            <div class="modal-body" >
                <div class="loading_div" data-img_url="{% static 'media/loading.gif' %}"></div>
                <div class="row modal_generico_mediano__content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
        <div class="container" >
		<div class="c-content-isotope-grid c-opt-3">
            {% for documento in equipamientos.qs %}
			<div class="c-content-isotope-item col-xl-2 col-md-2">
				<div class="c-content-isotope-image-container">
					<img class="c-content-isotope-image" style="height: 200px" src="/media/{{ documento.equipamiento_img }}"/>
                    <span class="c-font-black" style="display: block;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;white-space: nowrap;
  display: inline-block;">{{ documento.nombre }}</span>
                    <br>
                    {% if documento.precio_mlc is not None %}<span>{{ documento.precio_mlc }} EUR</span>{% endif %}

					<div class="c-content-isotope-overlay">
						<div class="c-content-isotope-overlay-content">
							<h3 class="c-content-isotope-overlay-title c-font-white c-font-uppercase" >{{ documento.nombre }}</h3>
							<p class="c-content-isotope-overlay-desc c-font-white">{{ documento.descripcion }}</p>
							<a href="#id_modal_generico_mediano" data-toggle="modal" class="c-content-isotope-overlay-btn btn c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square"
                                       id="detalles_cont_fa_{{ element.id }}"
                                       onclick="crear_modal__detalles_equipamiento({{ documento.id }});">
                                        <i class="kt-nav__link-icon la la-search"></i>Explore
                                    </a>

						</div>
					</div>
				</div>
			</div>
            {% endfor %}


				</div>

        </div>


</div></div></div>
{% endblock %}