<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

    <!-- begin:: Header Menu -->
    <div></div>
    <!-- end:: Header Menu -->

    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">

        {% include 'header/buscar.html' %}

        {% include 'header/notificaciones.html' %}

        {% include 'header/opciones_usuario.html' %}

    </div>
    <!-- end:: Header Topbar -->

</div>
{#{% load static %}#}
{#<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>#}
{#	<link href="{% static 'assets/plugins/socicon/socicon.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/animate/animate.min.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>#}
{#    <link href="{% static 'assets/plugins/revo-slider/css/settings.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/revo-slider/css/layers.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/revo-slider/css/navigation.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/cubeportfolio/css/cubeportfolio.min.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/fancybox/jquery.fancybox.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/plugins/slider-for-bootstrap/css/slider.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/demos/default/css/plugins.css'%}" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/demos/default/css/components.css'%}" id="style_components" rel="stylesheet" type="text/css"/>#}
{#	<link href="{% static 'assets/demos/default/css/themes/default.css'%}" rel="stylesheet" id="style_theme" type="text/css"/>#}
{#	<link href="{% static 'assets/demos/default/css/custom.css'%}" rel="stylesheet" type="text/css"/>#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
{#<div class="c-navbar">#}
{#		<div class="container">#}
{#			<!-- BEGIN: BRAND -->#}
{#			<div class="c-navbar-wrapper clearfix">#}
{#				<div class="c-brand c-pull-left">#}
{#					<a href="{% url 'inicia' %}" class="c-logo">#}
{#					<a  class="c-logo">#}
{#						<img src="{% static 'assets/base/img/layout/logos/logo-5.png'%}" alt="Estudio50Habana" class="c-desktop-logo" style="max-height: 35px;">#}
{#						<img src="{% static 'assets/base/img/layout/logos/logo-5.png'%}" alt="Estudio50Habana" class="c-desktop-logo-inverse" style="max-height: 25px;">#}
{#						<img src="{% static 'assets/base/img/layout/logos/logo-5.png'%}" alt="Estudio50Habana" class="c-mobile-logo" style="max-height: 15px;">#}
{#					</a>#}
{#					<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">#}
{#					<span class="c-line"></span>#}
{#					<span class="c-line"></span>#}
{#					<span class="c-line"></span>#}
{#					</button>#}
{#					<button class="c-search-toggler" type="button">#}
{#						<i class="fa fa-search"></i>#}
{#					</button>#}
{#					<button class="c-cart-toggler" type="button">#}
{#						<i class="icon-handbag"></i> <span class="c-cart-number c-theme-bg">2</span>#}
{#					</button>#}
{##}
{#				</div>#}
{#				<!-- END: BRAND -->#}
{#				<!-- BEGIN: QUICK SEARCH -->#}
{#				<form class="c-quick-search" action="#">#}
{#					<input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">#}
{#					<span class="c-theme-link">&times;</span>#}
{#				</form>#}
{#				<!-- END: QUICK SEARCH -->#}
{#				<!-- BEGIN: HOR NAV -->#}
{#				<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->#}
{#<!-- BEGIN: MEGA MENU -->#}
{#<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->#}
{#    <nav class="c-mega-menu c-mega-menu-mobile c-fonts-sbold">#}
{#        <ul class="nav navbar-nav c-theme-nav">#}
{#                            <li class="c-active c-menu-type-classic">#}
{#                                <a class="c-link dropdown-toggle" style="font-size: 12px;">Estudio50</a>#}
{#                            </li>#}
{#                            <li class="c-menu-type-classic">#}
{#                                <a href="{% url 'about' %}" class="c-link dropdown-toggle" style="font-size: 12px;">About</a>#}
{#                            </li>#}
{#                            <li >#}
{#                                <a href="javascript:;" class="c-link dropdown-toggle" style="font-size: 12px;">Catalog</a>#}
{#                            </li>#}
{#                            <li >#}
{#                                <a href="javascript:;" class="c-link dropdown-toggle" style="font-size: 12px;">Partners</a>#}
{#                            </li>#}
{#                            <li >#}
{#                                <a href="javascript:;" class="c-link dropdown-toggle" style="font-size: 12px;">Contact</a>#}
{#                            </li>#}
{#        </ul>#}
{##}
{#        <ul class="nav navbar-nav c-theme-nav-right">#}
{#            {% if request.user.is_authenticated %}#}
{#            <li>#}
{##}
{#                    <a href="{% url 'registrar_proyecto' %}" class="c-btn-icon c-btn-square" style="background-color: red; border-radius: 3px; font-size: 12px">Crear Proyecto</a>#}
{##}
{#            </li>#}
{#            {% endif %}#}
{#            {% if request.user.is_authenticated %}#}
{#                <li class="c-search-toggler-wrapper"><a href="#" class="c-btn-icon " style="font-size: 12px"><i class="icon-user"></i> {{user}}</a></li>#}
{#                <li class="c-search-toggler-wrapper">#}
{##}
{#                    <a href="{% url 'cerrar_sesion' %}" class="c-btn-icon">#}
{#                        <i class="icon-logout"></i>#}
{#                    </a>#}
{##}
{#                </li>#}
{##}
{##}
{#             {% endif %}#}
{#            <li class="c-search-toggler-wrapper">#}
{#                {% if not request.user.is_authenticated %}#}
{#                    <a href="#" data-toggle="modal" data-target="#login-form" class="c-btn-icon "><i class="icon-user"></i></a>#}
{#                {% endif %}#}
{#            </li>#}
{##}
{#            <li class="c-search-toggler-wrapper">#}
{#                    <a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>#}
{#            </li>#}
{#        </ul>#}
{#    </nav>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#	<script src="{% static 'assets/global/plugins/excanvas.min.js'%}"></script>#}
{#	<![endif]-->#}
{#	<script src="{% static 'assets/plugins/jquery.min.js'%}" type="text/javascript" ></script>#}
{#	<script src="{% static 'assets/plugins/jquery-migrate.min.js'%}" type="text/javascript" ></script>#}
{#	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript" ></script>#}
{#	<script src="{% static 'assets/plugins/jquery.easing.min.js'%}" type="text/javascript" ></script>#}
{#	<script src="{% static 'assets/plugins/reveal-animate/wow.js'%}" type="text/javascript" ></script>#}
{#	<script src="{% static 'assets/demos/default/js/scripts/reveal-animate/reveal-animate.js'%}" type="text/javascript" ></script>#}
{##}
{#	<!-- END: CORE PLUGINS -->#}
{##}
{#			<!-- BEGIN: LAYOUT PLUGINS -->#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/counterup/jquery.waypoints.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.pack.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/smooth-scroll/jquery.smooth-scroll.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/typed/typed.min.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js'%}" type="text/javascript"></script>#}
{#			<script src="{% static 'assets/plugins/js-cookie/js.cookie.js'%}" type="text/javascript"></script>#}
{#				<!-- END: LAYOUT PLUGINS -->#}
{##}
{#	<!-- BEGIN: THEME SCRIPTS -->#}
{#	<script src="{% static 'assets/base/js/components.js'%}" type="text/javascript"></script>#}
{#	<script src="{% static 'assets/base/js/components-shop.js'%}" type="text/javascript"></script>#}
{#	<script src="{% static 'assets/base/js/app.js'%}" type="text/javascript"></script>#}
{#	<script>#}
{#	$(document).ready(function() {#}
{#		App.init(); // init core#}
{#	});#}
{#	</script>#}
{#	<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js'%}" type="text/javascript"></script>#}
{#    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js'%}" type="text/javascript"></script>#}
{#    <script src="{% static 'assets/demos/default/js/scripts/revo-slider/slider-13.js'%}" type="text/javascript"></script>#}