<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">

    <div class="card">
        <div class="card-header" id="headingTwo6">
            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false"
                 aria-controls="collapseTwo6">
                <i class="flaticon-search"></i> Filtrar
            </div>
        </div>
        <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordionExample6">
            <div class="card-body">
                <div class="buscar_factura">
                    <form action="" method="GET">

                        <div class="buscar_factura_content">

                            <div class="search_field">
                                <label>Número de prefactura:</label>
                                <select name="numero_prefactura" class="form-control" title="Seleccione un número de prefactura">
                                    <option value="">Seleccione un número de prefactura ...</option>
                                    {% for numero_prefactura in numeros_prefactura %}
                                        <option value="{{ numero_prefactura.id }}"
                                                {% if numero_prefactura.id|striptags == request.GET.numero_prefactura %}selected{% endif %}>{{ numero_prefactura.numero_prefactura }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="search_field">
                                <label>Entidad:</label>
                                <select name="entidad" class="form-control" title="Seleccione una entidad">
                                    <option value="">Seleccione una entidad ...</option>
                                    {% for entidad in entidades %}
                                        <option value="{{ entidad.id }}"
                                                {% if entidad.id|striptags == request.GET.entidad %}selected{% endif %}>{{ entidad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_field">
                                <label>Estado de pago:</label>
                                <select style="width: 222px" name="estado_pago" class="form-control"
                                        title="Seleccione un estado de pago">
                                    <option value="">Seleccione un estado de pago ...</option>
                                    <option value="Pagado">Pagado</option>
                                    <option value="No pagado">No pagado</option>

                                </select>
                            </div>

                            <div class="search_field">
                                <label>Fecha en que se pago (2022-04-19):</label>
                                <input type="text" class="form-control"
                                       placeholder="Fecha de pago ..."
                                       title="Escriba la fecha de pago"
                                       name="fecha_pago"
                                       value="{{ request.GET.fecha_pago }}">
                            </div>
                        </div>

                        <div class="div_search_buttons">
                            <button type="submit" style="margin-right: 5px" title="Buscar"
                                    class="btn btn-default btn_normal search_button"><span
                                    class="flaticon-search-magnifier-interface-symbol"></span>
                            </button>

                            <a class="btn btn-default btn_normal search_button"
                               href="{% url 'facturas' %}"
                               title="Limpiar filtros"> <span class="flaticon2-refresh"></span>
                            </a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>