{% load static %}
<html>
<head>

</head>
<body>
<div class="container-fluid">
<div style="text-align: right" class="row">
    <div class="col-md-12">
        <div class="row text-center">
            <div class="col-sm-6 col-6 col-xs-6 col-md-6 col-lg-6 col-xl-6">
                <img src="data:image/png;base64,{{ header }}"/>
            </div>
        </div>
    </div>
</div>

<div class="row fact-info mt-3">
    <div class="col-3">
        <h1>{{ title }}</h1>
        <h5>Facturar a</h5>
        <p>
            {{ proyecto.usuario.first_name }} {{ proyecto.usuario.last_name }}
        </p>
    </div>
    <div class="col-3">
        <h5>Enviar a</h5>
        <p>Luis Mario Perez Gonzalez </p>
        <p>Calle Lugareño </p>
        <p>Entre Carlos III y Almendares,</p>
        <p>La Habana</p>
    </div>
    <div class="col-3">
        <h5>N° de factura</h5>
        <p>{{ proyecto.id }} </p>
        <h5>Fecha</h5>
        <p>{{ proyecto.fecha_estado_proyecto }} </p>
    </div>
</div>
<hr/>

<div class="row my-5">
    <table class="table table-borderless factura">
        <thead>
        <tr>
            <th>Cant.</th>
            <th>Descripcion</th>
            <th>Precio Unitario</th>
            <th>Importe</th>
        </tr>
        </thead>
        <tbody>

        {% for eventoequip in eventos %}
            <tr>
                <td style="text-align: center">{{ eventoequip.equipamiento.cantidad }}</td>
                <td style="text-align: center">{{ eventoequip.equipamiento.nombre }}</td>
                <td style="text-align: center">{{ eventoequip.equipamiento.precio_mlc }}</td>
                <td style="text-align: center">{{ eventoequip.precio_mlc_acumulado }}</td>
            </tr>
        {% endfor %}
        {% for eventostalent in eventostalento %}
            <tr>
                <td style="text-align: center">1</td>
                <td style="text-align: center">{{ eventostalent.actor.primer_nombre }} {{ eventostalent.actor.primer_apellido }} {{ eventostalent.actor.segundo_apellido }}</td>
                <td style="text-align: center">{{ eventostalent.actor.precio_euro }}</td>
                <td style="text-align: center">{{ eventostalent.precio_mlc_acumulado }}</td>
            </tr>
        {% endfor %}


        </tbody>
        <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Total Factura</th>
            <th>EUR {{ proyecto.precio_aprobacion }}</th>
        </tr>
        </tfoot>
    </table>
    <hr/>

</div>
<div class="cond row">
    <div class="col-12 mt-3">
        <h4>Condiciones y formas de pago</h4>
        <p>El pago se debe realizar en un plazo de 15 dias.</p>
        <p>
            Banco Metropolitano de La Habana
            <br/>
            IBAN: DO XX 0075 XXXX XX XX XXXX XXXX
            <br/>
            Código SWIFT: BPDODOSXXXX
        </p>
    </div>
</div>
</div>
</body>
</html>