<div class="div_container">
    <div class="alinear_derecha">
        <div class="seleccionar_paginado">
            <select class="form-control kt-selectpicker">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
            </select>
        </div>

        <div class="texto_paginado">
            <h1>{{ page_obj.start_index }} - {{ page_obj.end_index }} / {{ paginator.count }}</h1>
        </div>

        <div class="principal_paginado kt-pagination kt-pagination--info">
            <ul class="kt-pagination__links">
                {#      IR A LA PRIMERA PÁGINA        #}
                {% if page_obj.start_index > 1 %}
                    <li class="kt-pagination__link--first">
                        <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" title="Primera página"><i class="fa fa-angle-double-left kt-font-primary"></i></a>
                    </li>
                {% else %}
                    <li class="kt-pagination__link--first">
                        <a class="a_pagination" title="Primera página"><i class="fa fa-angle-double-left"></i></a>
                    </li>
                {% endif %}
                {#      IR A LA PÁGINA ANTERIOR        #}
                {% if page_obj.has_previous %}
                    <li class="kt-pagination__link--next">
                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" title="Página anterior"><i class="fa fa-angle-left kt-font-primary"></i></a>
                    </li>
                {% else %}
                    <li class="kt-pagination__link--next">
                        <a title="Página anterior"><i class="fa fa-angle-left"></i></a>
                    </li>
                {% endif %}
                {#      MOSTRAR NÚMERO DE LA PÁGINA ANTERIOR        #}
{#                {% if page_obj.has_previous %}#}
{#                    <li>#}
{#                        <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.previous_page_number }}</a>#}
{#                    </li>#}
{#                {% endif %}#}
                {#      MOSTRAR NÚMERO DE LA  PÁGINA ACTUAL        #}
                <li class="kt-pagination__link--active">
                    <a href="?page={{ page_obj.number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.number }}</a>
                </li>
                {#      MOSTRAR NÚMERO DE LA  PÁGINA SIGUIENTE        #}
{#                {% if page_obj.has_next %}#}
{#                    <li>#}
{#                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page_obj.next_page_number }}</a>#}
{#                    </li>#}
{#                {% endif %}#}
                {#      IR A LA PÁGINA SIGUIENTE        #}
                {% if page_obj.has_next %}
                    <li class="kt-pagination__link--prev">
                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" title="Página siguiente"><i class="fa fa-angle-right kt-font-primary"></i></a>
                    </li>
                 {% else %}
                    <li class="kt-pagination__link--prev">
                        <a title="Página siguiente"><i class="fa fa-angle-right"></i></a>
                    </li>
                {% endif %}
                {#      IR A LA ÚLTIMA PÁGINA        #}
                {% if page_obj.end_index < paginator.count %}
                    <li class="kt-pagination__link--last">
                        <a href="?page={{ paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" title="Última página"><i class="fa fa-angle-double-right kt-font-primary"></i></a>
                    </li>
                {% else %}
                    <li class="kt-pagination__link--last">
                        <a title="Última página"><i class="fa fa-angle-double-right"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>