{% extends 'baseproyect2blanco.html' %}
{% load static %}
{% block content %}
    <div class="c-layout-page">
    <div class="c-content-box c-size-xg c-bg-parallax" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'assets/base/img/layout/logos/about.png' %});" >
    </div>
        <div class="c-content-box c-size-xg c-bg-white" style="border-top: 2px solid #FFFFFF">
            <div class="container">
                <div class="c-content-client-logos-slider-1" data-slider="owl">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1 c-center">
                        <img src="{% static 'assets/base/img/layout/logos/logo2012estudio.png' %}" alt="Estudio50Habana"
                             style="height: 100px; background-size: cover;">
                    </div>
                    <section class="section section-default mt-none mb-none">
                        <div class="container">
                            <br><br>
                            <div class="row ">
                                <div class="col-sm-6 col-md-offset-0">
                                    <h3 class="c-font-bold">Video Production in Havana since 2012.</h3>
                                    <p> The Instituto Cubano del Arte e Industria Cinematográficos (ICAIC, Cuban
                                        Institute of Cinematographic Art and Industry) was established by the Cuban
                                        government in March 1959 after the Cuban Revolution. Its prominent members are
                                        Tomás Gutiérrez Alea, Julio García Espinosa, Alfredo Guevara and Santiago
                                        Álvarez.[1]
                                    </p>
                                    <p>
                                        The ICAIC is an organization of a film industry to produce, distribute and
                                        exhibit films and related work following the Cuban Revolution. Its aim is to use
                                        film as a powerful mass communication medium to mobilize and educate people,
                                        improve the quality level of Cuba films with appreciation among the masses and
                                        reach a wide public. Through educating the new generation of young directors,
                                        one of its responsibilities is to transform Cuba from a country of cinematic
                                        consumption to a production. </p>
                                </div>

                                <div class="col-sm-6 col-md-6">
                                    <p>Planet Records es un grupo discográfico y de edición musical creado en 1998 por
                                        el productor Roberto Ferrante3​ y distribuida por Sony Music, que se convirtió
                                        en punto de referencia entre los sellos independientes italianos y europeos. Ha
                                        ganado 16 discos de platino, 7 discos de oro y 2 de plata (en Italia y
                                        Europa).4​
                                    </p>
                                    <p>
                                        El grupo s con oficinas y/o operadores en Nápoles, Miami, Nueva York, La Habana
                                        (Cuba) y Santo Domingo.2​ Utiliza una red de distribución física y digital en
                                        todo el mundo y está dirigida por el fundador y presidente Roberto Ferrante, la
                                        dirección de la Oficina Central en Nápoles está encabezada por Claudio
                                        Arillotta5​ quien funge de director general. El personal en la sede de los EE.UU
                                        cuenta con personajes de gran experiencia tales como Daisy De La Cruz (Jefe de
                                        Promoción), Marlene Maseda (Promotora de Televisión), Jeff Young y todo el
                                        personal Venetian como agentes de ventas. </p>
                                </div>

                                <strong></strong></div>

                            <div class="c-content-title-2 c-center">
                                {#    <p class="c-font-bold">Watch the Video</p>#}
                                {##}
                                {#			</div>#}
                                {#    <div class="c-content c-center">#}
                                {#    <p>The Institute de Art and Cinematogra etc</p>#}
                                {#<iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=1" style="  height: 250px;min-width: 50%;">#}
                                {#</iframe>#}
                                {#        <br>#}
                                {#        <br>#}
                                <a href="" class="btn  btn-md   c-btn-square c-btn-login"
                                   style="background: red;color: white;">CREAR PROYECTO</a>

                            </div>
                            <br>
                            <br>
                        </div>

                    </section>

                </div>
            </div>


        </div>


    </div>
{% endblock %}