{% load static %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<html lang="en"  >
<head>
	<meta charset="utf-8"/>
	<title>Estudio50Habana</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description"/>
	<meta content="" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
	<link href="{% static 'assets/plugins/socicon/socicon.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/bootstrap-social/bootstrap-social.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/animate/animate.min.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/plugins/revo-slider/css/settings.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/revo-slider/css/layers.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/revo-slider/css/navigation.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/cubeportfolio/css/cubeportfolio.min.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/owl-carousel/assets/owl.carousel.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/fancybox/jquery.fancybox.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/plugins/slider-for-bootstrap/css/slider.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/plugins.css'%}" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/components.css'%}" id="style_components" rel="stylesheet" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/themes/default.css'%}" rel="stylesheet" id="style_theme" type="text/css"/>
	<link href="{% static 'assets/demos/default/css/custom.css'%}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- END THEME STYLES -->

	<link rel="icon" type="image/x-icon" href="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png'%}"/>
</head><body class="c-layout-header-fixed c-layout-header-mobile-fixed">

	<!-- BEGIN: LAYOUT/HEADERS/HEADER-1 -->
<!-- BEGIN: HEADER -->
<header class="c-layout-header c-layout-header-70 c-bordered c-layout-header-default-mobile " data-minimize-offset="80">
		<div class="c-navbar">
		<div class="container">
			<!-- BEGIN: BRAND -->
			<div class="c-navbar-wrapper clearfix">
				<div class="c-brand c-pull-left">
					<a href="{% url 'inicio' %}"  class="c-logo">
						<img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png'%}" alt="Estudio50Habana" class="c-desktop-logo" style="max-height: 30px;">
						<img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png'%}" alt="Estudio50Habana" class="c-desktop-logo-inverse" style="max-height: 30px;">
						<img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png'%}" alt="Estudio50Habana" class="c-mobile-logo" style="max-height: 30px;">
					</a>
					<button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
					<span class="c-line"></span>
					<span class="c-line"></span>
					<span class="c-line"></span>
					</button>
					<button class="c-search-toggler" type="button">
						<i class="fa fa-search"></i>
					</button>


				</div>
				<!-- END: BRAND -->
				<!-- BEGIN: QUICK SEARCH -->
				<form class="c-quick-search" action="#">
					<input type="text" name="query" placeholder="Type to search..." value="" class="form-control" autocomplete="off">
					<span class="c-theme-link">&times;</span>
				</form>
         <nav class="c-mega-menu c-mega-menu-onepage c-fonts-sbold" data-onepage-animation-speed="700">
        <ul class="nav navbar-nav c-theme-nav">
                            <li class="c-active c-onepage-link">
                                <a href="{% url 'inicio' %}" class="c-link" style="font-size: 13px;">Estudio 50</a>
                            </li>
                            <li class="c-onepage-link">
                                <a href="{% url 'catalog' %}" class="c-link" style="font-size: 13px; ">Services</a>
                            </li>
                            <li class="c-onepage-link">
                                <a href="{% url 'about' %}"  class="c-link" style="font-size: 13px;">About</a>
                            </li>

                            <li class="c-onepage-link">
                                <a href="{% url 'partners' %}" class="c-link" style="font-size: 13px;">Partners</a>
                            </li>
                            <li class="c-onepage-link">
                                <a href="{% url 'contact' %}" class="c-link" style="font-size: 13px;">Contact</a>
                            </li>
        </ul>
        <ul class="nav navbar-nav c-theme-nav-right">
            {% if request.user.is_authenticated %}
                <li class="c-search-toggler-wrapper"><a href="#" class="c-btn-icon " style="font-size: 12px"><i class="icon-user"></i> {{user}}</a></li>
                <li class="c-search-toggler-wrapper">
                    <a href="{% url 'cerrar_sesion' %} " class="c-btn-icon">
                        <i class="icon-logout"></i>
                    </a>
                </li>
             {% endif %}
        {% if not request.user.is_authenticated %}
            <li class="c-search-toggler-wrapper">
                    <a href="#" data-toggle="modal" data-target="#login-form" class="c-btn-icon "><i class="icon-user"></i></a>
            </li>
          {% endif %}


            <li class="c-search-toggler-wrapper">
                    <a  href="#" class="c-btn-icon c-search-toggler"><i class="fa fa-search"></i></a>
            </li>
                  {% if request.user.is_authenticated %}
            <li class="c-search-toggler-wrapper">
                              {% if request.user.proyectosbool == 0 %}

                    <a href=""  class="c-btn-icon c-btn-square c-font-sbold" data-toggle="modal" data-target="#proyect-form" style="background-color: red;font-size: 12px;   line-height: 14px;">CREAR PROYECTO</a>
                                  {% endif %}
                {% if request.user.proyectosbool > 0 %}

                    <a href="{% url 'proyects' %} "  class="c-btn-icon c-btn-square c-font-sbold" style="background-color: red;font-size: 12px;   line-height: 14px;">MIS PROYECTOS</a>
                {% endif %}
            </li>

            {% endif %}
            {% if not request.user.is_authenticated %}
            <li class="c-search-toggler-wrapper">
                <a href=""  class="c-btn-icon c-btn-square c-font-sbold" data-toggle="modal" data-target="#login-form" style="background-color: red;font-size: 12px;   line-height: 14px;">CREAR PROYECTO</a>
            </li>
            {% endif %}
        </ul>
    </nav>


			</div>
		</div>
	</div>
</header>
<div class="modal fade c-content-login-form" id="forget-password-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
                <p>To recover your password please fill in your email address</p>
                <form>
                    <div class="form-group">
                        <label for="forget-email" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square" id="forget-email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="c-btn-icon c-btn-square c-font-sbold" style="background-color: red;font-size: 12px;   line-height: 14px;">Submit</button>
                        <a href="javascript:;" class="c-btn-forgot" data-toggle="modal" data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="signup-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Create An Account</h3>
                <p>Please fill in below form to create an account with us</p>
                <form class="kt-form" method="GET" action="{% url 'registrar_usuario_front' %}"
                      id="form_crear_cuenta">{% csrf_token %}
                    <div class="form-group">
                        <label class="hide">First Name</label>
                        <input type="text" class="form-control input-lg c-square" name="first_name" id="first_name"
                               placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Last Name</label>
                        <input type="text" class="form-control input-lg c-square"  name="last_name" id="last_name"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Email</label>
                        <input type="email" class="form-control input-lg c-square"  name="email" id="email"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Phone</label>
                        <input type="text" class="form-control input-lg c-square"  name="phone" id="phone"
                               placeholder="Phone">
                    </div>

                    <div class="form-group">
                        <label for="signup-country" class="hide">Country</label>
                        <select style="display: block; width: 100%" name="pais"
                                class="form-control input-lg c-square"
                                title="Country" required>
                            <option value="">Country</option>
                            {% for pais in paises %}
                                <option value="{{ pais.id }}"
                                        {% if pais.id|striptags == request.GET.pais %}selected{% endif %}>{{ pais.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">City</label>
                        <input type="text" class="form-control input-lg c-square"  name="ciudad" id="ciudad"
                               placeholder="Ciudad">
                    </div>
                    <div class="form-group">
                        <label for="signup-username" class="hide">Password</label>
                        <input type="password" class="form-control input-lg c-square"  name="password" id="password"
                               placeholder="Password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn c-theme-btn btn-md   c-btn-square c-btn-login"
                                style="background: white;color: black;border-color: black;">Sign Up
                        </button>

                        <a href="javascript:;" class="c-action-btn btn " style="margin-left: 70px;" data-toggle="modal"
                           data-target="#login-form" data-dismiss="modal">Back To Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="proyect-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png' %}" alt="Estudio50Habana"
                     class="c-desktop-logo" style="max-height: 65px;">
                <br>
                <br>
                {#                <h3 class="c-font-24 c-font-sbold" style="color: #666;">Create your project</h3>#}
                <p style="color: #666;">Please fill out the form below so we can start building your project</p>
                <form class="kt-form" method="POST" action="{% url 'registrar_proyecto' %}"
                      id="form_proyecto">{% csrf_token %}
                    <div class="form-group">
                        <label for="id_proyecto_nombre" style="font-size: medium">Name <h6
                                style="color: red;display: inline">*</h6></label>
                        <input type="text" id="id_proyecto_nombre" name="proyecto_nombre"
                               class="form-control input-lg c-square" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="id_proyecto_cliente" style="font-size: medium">Client <h6
                                style="color: red;display: inline">*</h6></label>
                        <input type="text" id="id_proyecto_cliente" name="proyecto_cliente"
                               class="form-control input-lg c-square" placeholder="Client">
                    </div>
                    <div class="form-group">
                        <label for="id_categoria" style="font-size: medium">Type <h6 style="color: red;display: inline">
                            *</h6></label>
                        <select style="display: block; width: 100%" name="categoria"
                                class="form-control input-lg c-square"
                                title="Seleccione una categoria" required>
                            <option value="">Type</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}"
                                        {% if categoria.id|striptags == request.GET.categoria %}selected{% endif %}>{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_inicio" style="font-size: medium">Start Date <h6
                                style="color: red;display: inline">*</h6></label>
                        <input type="date" class="form-control input-lg c-square" name="id_fecha_inicio"
                               id="id_fecha_inicio" placeholder="Start Date">
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_fin" style="font-size: medium">End Date <h6
                                style="color: red;display: inline">*</h6></label>
                        <input type="date" class="form-control input-lg c-square" name="id_fecha_fin" id="id_fecha_fin"
                               placeholder="End Date">
                    </div>
                    <br>
                    <button type="submit" class="btn c-theme-btn btn-md   c-btn-square c-btn-login"
                            onclick="$('#form_proyecto').submit();"
                            style="background: white;color: black;border-color: black;">CREATE YOUR PROJECT
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade c-content-login-form" id="login-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png'%}" alt="Estudio50Habana" class="c-desktop-logo" style="max-height: 65px;">
                <br>
                <h3 class="c-font-24 c-font-sbold">Welcome!</h3>
                <p>Let's make today a great day!</p>
                <form class="kt-form" method="post" action="{% url 'iniciar_sesion_cliente' %}">{% csrf_token %}
                                    <div class="form-group">
										<input type="text" class="form-control input-lg c-square" placeholder="Email"
                                               name="username" id="id_{{ form.username.name }}"
                                               autocomplete="off">
									</div>
                                    <div class="login_field_error">
                                        {% for error in form.username.errors %}
                                            <small id="login-input-error" class="login-input-error text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
									<div class="form-group">
										<input class="form-control input-lg c-square" type="password" id="id_{{ form.password.name }}"
                                               placeholder="Password" name="password">
									<div style="margin-top:15px;">
          <input style="margin-left:20px;" type="checkbox" id="mostrar_contrasena" title="clic para mostrar contraseña"/>
          &nbsp;&nbsp;Mostrar Contraseña</div>
                                    </div>
                                    <div class="login_field_error">
                                        {% for error in form.password.errors %}
                                            <small id="login-input-error" class="login-input-error text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
                                    <div class="login_field_error">
                                        {% for error in form.non_field_errors %}
                                            <small id="login-error" class="text-danger">
                                                {{ error }}
                                            </small>
                                        {% endfor %}
                                    </div>
									<div class="kt-login__actions">

                                        <button type="submit" class="btn c-theme-btn btn-md   c-btn-square c-btn-login" style="background: white;color: black;border-color: black;">Login</button>
                                        <a href="javascript:;"  class="c-action-btn btn " style="margin-left: 70px;" data-toggle="modal" data-target="#forget-password-form" data-dismiss="modal">Forgot Your Password ?</a>

									</div>
                                    <input type="hidden" name="next" value="{{ next }}">

                </form>
                                    <div class="modal-footer c-no-border">
                                        <span class="c-text-account">Don't Have An Account Yet ?</span>
                                        <a href="javascript:;" data-toggle="modal" data-target="#signup-form" data-dismiss="modal" class="btn c-btn-dark-1 btn c-btn-slim c-btn-square c-btn-signup" style="background: white;color: black;border-color: black;">Sign up!</a>
                                    </div>
            </div>
        </div>
    </div>
</div>
    <div class="c-layout-page">
{% block content %}{% endblock %}
    </div>
<a name="footer"></a>
    <section id="contact">
    		{% include 'footer_front.html' %}
        </section>
<div class="c-layout-go2top">
	<i class="icon-arrow-up"></i>
</div>
	<script src="{% static 'assets/global/plugins/excanvas.min.js'%}"></script>
	<script src="{% static 'assets/plugins/jquery.min.js'%}" type="text/javascript" ></script>
	<script src="{% static 'assets/plugins/jquery-migrate.min.js'%}" type="text/javascript" ></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript" ></script>
	<script src="{% static 'assets/plugins/jquery.easing.min.js'%}" type="text/javascript" ></script>
	<script src="{% static 'assets/plugins/reveal-animate/wow.js'%}" type="text/javascript" ></script>
	<script src="{% static 'assets/demos/default/js/scripts/reveal-animate/reveal-animate.js'%}" type="text/javascript" ></script>
    <script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.tools.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/jquery.themepunch.revolution.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.slideanims.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.layeranimation.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.navigation.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.video.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.waypoints.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/counterup/jquery.counterup.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/fancybox/jquery.fancybox.pack.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/smooth-scroll/jquery.smooth-scroll.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/typed/typed.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/slider-for-bootstrap/js/bootstrap-slider.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/js-cookie/js.cookie.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/base/js/components.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/base/js/components-shop.js'%}" type="text/javascript"></script>
	<script src="{% static 'assets/base/js/app.js'%}" type="text/javascript"></script>
	<script>
	$(document).ready(function() {
		App.init(); // init core
	});

    function limpiarModalPagoFactura(){
            $('#form_proyecto')[0].reset();
            $("option:selected").val("").trigger('change');
        }

    $(document).ready(function () {
      $('#mostrar_contrasena').click(function () {
        if ($('#mostrar_contrasena').is(':checked')) {
          $('#id_{{ form.password }}').attr('type', 'text');
        } else {
          $('#id_{{ form.password }}').attr('type', 'password');
        }
      });
    });
    function mostrar_modal_adicionar_producto(documento_id) {
            document.getElementById("documento_seleccionado_id").value = documento_id;
            $('#evento-form').modal('toggle');
        }

    function mostrar_modal_adicionar_talent(documento_id) {
            document.getElementById("documento_seleccionado_id").value = documento_id;
            $('#evento-talent-form').modal('toggle');
        }
    function eliminar_producto_seleccionado(equipo,evento) {
            $.ajax({
                type: 'GET',
                url: '/equipamientos/'+equipo+'/eventos/eliminar/'+evento+'/',
                data: $(this).serialize(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                success: function () {
                    location.reload()
                }
            });

        }

    function eliminar_talent_seleccionado(equipo,evento) {
            $.ajax({
                type: 'GET',
                url: '/actores/'+equipo+'/eventos/eliminar/'+evento+'/',
                data: $(this).serialize(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                success: function () {
                    location.reload()
                }
            });

        }

	</script>
    <script src="{% static 'js/detalles_contratados__familiar_ayudante.js' %}" type="text/javascript"></script>
	<script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.kenburn.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/revo-slider/js/extensions/revolution.extension.parallax.min.js'%}" type="text/javascript"></script>
    <script src="{% static 'assets/demos/default/js/scripts/revo-slider/slider-13.js'%}" type="text/javascript"></script>
</body>
</html>