{% extends 'baseproyect.html' %}
{% load static %}
{% block content %}
            <img src="{% static 'assets/base/img/layout/logos/about.png'%}" alt="Estudio50Habana" class="c-desktop-logo" style="width: 100%;height: 50%">
<div class="container">

			<div class="c-layout-sidebar-menu c-theme ">
    <ul class="c-shop-filter-search-1 list-unstyled">
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Category</label>
		<select class="form-control c-square c-theme">
			<option value="0">All Categories</option>
			<option value="1">Art</option>
			<option value="2">Baby</option>
			<option value="3">Books</option>
			<option value="4">Business &amp; Industrial</option>
			<option value="5">Cameras &amp; Photo</option>
			<option value="6">Cell Phones &amp; Accessories</option>
			<option value="7">Clothing, Shoes &amp; Accessories</option>
			<option value="8">Coins &amp; Paper Money</option>
			<option value="9">Collectibles</option>
			<option value="10">Computers/Tablets &amp; Networking</option>
		</select>
	</li>
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Availability</label>
		<div class="c-checkbox">
			<input type="checkbox" id="checkbox-sidebar-3-1" class="c-check"> <label for="checkbox-sidebar-3-1">
				<span class="inc"></span> <span class="check"></span> <span class="box"></span>
				<p>Not Available (3)</p>
			</label>
		</div>
		<div class="c-checkbox c-checkbox-height">
			<input type="checkbox" id="checkbox-sidebar-3-2" class="c-check"> <label for="checkbox-sidebar-3-2">
				<span class="inc"></span> <span class="check"></span> <span class="box"></span>
				<p>In Stock (23)</p>
			</label>
		</div>
	</li>
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Price Range</label>
		<div class="c-price-range-box input-group">
			<div class="c-price input-group col-md-6 pull-left">
				<span class="input-group-addon c-square c-theme">$</span>
				<input type="text" class="form-control c-square c-theme" placeholder="from">
			</div>
			<div class="c-price input-group col-md-6 pull-left">
				<span class="input-group-addon c-square c-theme">$</span>
				<input type="text" class="form-control c-square c-theme" placeholder="to">
			</div>
		</div>
	</li>
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Price Range Slider Color</label>
		<p>Price Range: $1 - $ 500</p>
		<div class="c-price-range-slider c-theme-1 input-group">
			<input type="text" class="c-price-slider" value="" data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="[100,250]">
		</div>
	</li>
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Price Range Slider Color</label>
		<p>Price Range: $1 - $ 500</p>
		<div class="c-price-range-slider c-theme-2 input-group">
			<input type="text" class="c-price-slider" value="" data-slider-handle="square" data-slider-min="1" data-slider-max="500" data-slider-step="1" data-slider-value="[100,250]">
		</div>
	</li>
	<li>
		<label class="control-label c-font-uppercase c-font-bold">Price Group</label>
		<div class="input-group">
			<div class="c-checkbox">
				<input type="checkbox" id="checkbox-sidebar-1-1" class="c-check"> <label for="checkbox-sidebar-1-1">
					<span class="inc"></span> <span class="check"></span> <span class="box"></span> $0 - $10 (15)
				</label>
			</div>
			<div class="c-checkbox">
				<input type="checkbox" id="checkbox-sidebar-1-2" class="c-check"> <label for="checkbox-sidebar-1-2">
					<span class="inc"></span> <span class="check"></span> <span class="box"></span> $11 - $20 (17)
				</label>
			</div>
			<div class="c-checkbox">
				<input type="checkbox" id="checkbox-sidebar-1-3" class="c-check"> <label for="checkbox-sidebar-1-3">
					<span class="inc"></span> <span class="check"></span> <span class="box"></span> $21 - $30 (23)
				</label>
			</div>
			<div class="c-checkbox c-checkbox-height">
				<input type="checkbox" id="checkbox-sidebar-1-4" class="c-check"> <label for="checkbox-sidebar-1-4">
					<span class="inc"></span> <span class="check"></span> <span class="box"></span> $31 - $40 (19)
				</label>
			</div>
		</div>
	</li>

    </ul></div>
    <div class="c-layout-sidebar-content ">
    <div class="c-content-box c-size-xg c-bg-white" style="border-top: 2px solid #FFFFFF">

        <div class="container">
		<div class="c-content-isotope-grid c-opt-3">
            {% for documento in documentos %}
			<div class="c-content-isotope-item col-xl-4 col-md-4">
				<div class="c-content-isotope-image-container">
					<img class="c-content-isotope-image" style="height: 200px" src="/media/{{ documento.equipamiento_img }}"/>
                    <span class="c-font-black" style="display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;white-space: nowrap;
  display: inline-block;">{{ documento.nombre }}</span>
                    <br>
                    {% if documento.precio_mlc is not None %}<span>{{ documento.precio_mlc }} EUR</span>{% endif %}

					<div class="c-content-isotope-overlay">
						<div class="c-content-isotope-overlay-content">
							<h3 class="c-content-isotope-overlay-title c-font-white c-font-uppercase" >{{ documento.nombre }}</h3>
							<p class="c-content-isotope-overlay-desc c-font-white">{{ documento.descripcion }}</p>
							<a href="{% url 'detalles_equipamiento' documento.id %}"  class="c-content-isotope-overlay-btn btn c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
						</div>
					</div>
				</div>
			</div>
            {% endfor %}

				</div>

        </div>


</div></div></div>
{% endblock %}