{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
        <!--begin:: Widgets/Download Files-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title" style="font-size: 35px; color: #0f0f16">
                        Documentos de consulta
                    </h3>
                </div>
                <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-top: 15px">
                    <i class="flaticon-more"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-left"
                     style="text-align: center; width: 350px; margin-top: 7px; margin-right: 45px">
                    <ul class="kt-nav">
                        <li class="kt-nav__item">
                            {% if perms.equipo_proteccion_personal.view_reporte_equipo_proteccion_personal_aprobado %}
                                <a href="{% url 'reportes_equipo_proteccion_personal_aprobado' %}"
                                   style="font-size: 20px">
                                    <i class="kt-nav__link-icon la la-file-excel-o"></i> Registro Nacional de
                                    Aprobaciones <i class="la la-download"></i>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">

                <!--begin::k-widget4-->
                <div class="kt-widget4">
                    {% for documento in documentos %}
                        <div class="kt-widget4__item">
                            <div class="kt-widget4__pic kt-widget4__pic--icon">
                                <img src="{% static 'img/files/pdf.svg' %}" height="25" width="125" alt="#"
                                     style="height: 50px"/>
                            </div>
                            {% if perms.equipo_proteccion_personal.download_documento %}
                                <a href="{% url 'descargar_documento' documento.id %}" class="kt-widget4__title"
                                   style="font-size: 15px">
                                    {{ documento.nombre }} <i class="la la-download"></i>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                {% if documentos.all.count == 0 %}
                    <div class="kt-widget4">
                        <h4 style="text-align: center !important;">No existen elementos para mostrar</h4>
                    </div>
                {% endif %}
                <!--end::Widget 9-->
            </div>
        </div>
        <!--end:: Widgets/Download Files-->
        <!--end::Portlet-->
    </div>
    <!-- end:: Content -->
{% endblock %}


