{% load static %}

{#   IMPORTANTE!! No quitar este script!!   #}
<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#2c77f4",
                "light": "#ffffff",
                "dark": "#282a3c",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>

<!--begin:: Global Mandatory Vendors -->
<script src="{% static 'general/jquery/dist/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'general/popper.js/dist/umd/popper.js' %}" type="text/javascript"></script>
<script src="{% static 'general/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'general/js-cookie/src/js.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'general/perfect-scrollbar/dist/perfect-scrollbar.js' %}" type="text/javascript"></script>
<script src="{% static 'general/sticky-js/dist/sticky.min.js' %}" type="text/javascript"></script>
<!--end:: Global Mandatory Vendors -->

<!--begin:: Global Optional Vendors -->
<script src="{% static 'general/owl.carousel/dist/owl.carousel.js' %}" type="text/javascript"></script>
<script src="{% static 'general/raphael/raphael.js' %}" type="text/javascript"></script>
<script src="{% static 'general/morris.js/morris.js' %}" type="text/javascript"></script>  {# GRAFICOS!!! #}
<script src="{% static 'general/chart.js/dist/Chart.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'general/bootstrap-select/dist/js/bootstrap-select.js' %}" type="text/javascript"></script>
<script src="{% static 'general/bootstrap-switch/dist/js/bootstrap-switch.js' %}" type="text/javascript"></script>
<script src="{% static 'general/vendors/js/bootstrap-switch.init.js' %}" type="text/javascript"></script>
<script src="{% static 'general/select2/dist/js/select2.full.js' %}" type="text/javascript"></script>
<script src="{% static 'general/select2/dist/js/i18n/es.js' %}" type="text/javascript"></script>
<script src="{% static 'general/bootstrap-notify/bootstrap-notify.min.js' %}" type="text/javascript"></script>
<script src="{% static 'general/vendors/js/bootstrap-notify.init.js' %}" type="text/javascript"></script>
<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="{% static 'general/demo1/scripts.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'general/demo1/pages/components/extended/bootstrap-notify.js' %}" type="text/javascript"></script>
<script src="{% static 'general/demo1/pages/crud/forms/widgets/bootstrap-select.js' %}" type="text/javascript"></script>
<!--end::Global Theme Bundle -->

<script src="{% static 'plugins/datepicker/dist/datepicker.min.js' %}" type="text/javascript"></script>  {# CAMPO DE FECHA #}
<script src="{% static 'plugins/datepicker/i18n/datepicker.es-ES.js' %}" type="text/javascript"></script>  {# CAMPO DE FECHA #}

<script src="{% static 'js/modals_genericos.js' %}" type="text/javascript"></script>
{#<script src="{% static 'js/fijar_menu.js' %}" type="text/javascript"></script>#}

<script>
    {# CAMPO DE FECHA #}
    $("[id^='id_fecha']").datepicker({
        language: 'es-ES',
        autoHide: 'true',
        format: 'yyyy-mm-dd'
    });
</script>

<script>
    $('select').select2({
        placeholder: "Seleccione una opción..."
    });
</script>