{% load static %}

<link href="{% static 'general/demo1/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'general/demo1/skins/header/base/light.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'general/demo1/skins/header/menu/light.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'general/demo1/skins/brand/dark.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'general/demo1/skins/aside/dark.css' %}" rel="stylesheet" type="text/css" />