{% extends 'evento_proyecto/form_evento_proyecto_calendario.html' %}
{% load static %}
{% load bootstrap %}
                    <div class="tab-pane show active" id="tab_3_5_content">

{% block evento_equipamiento_calendario %}
    <div class="c-layout-sidebar-menu c-theme ">
        <ul class="c-shop-filter-search-1 list-unstyled">
            <li>
                <form method="GET">
                    {{ transporte.form | bootstrap}}
                    <button type="submit" class="c-btn-icon c-btn-square c-font-sbold"><span class="glyphicon glyphicon-search"></span>Buscar </button>
                </form>
            </li>
        </ul>
    </div>
    <div class="c-layout-sidebar-content ">
    <div class="c-content-box c-size-xg c-bg-white" >

        <div class="container" >
		<div class="c-content-isotope-grid c-opt-3">
            {% for documento in transporte.qs %}
			<div class="c-content-isotope-item col-xl-2 col-md-2">
				<div class="c-content-isotope-image-container">
					<img class="c-content-isotope-image" style="height: 200px" src="/media/{{ documento.transporte_img }}"/>
                    <span class="c-font-black" style="display: block;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;white-space: nowrap;
  display: inline-block;">{{ documento.marca }}</span>
                    <br>
                    {% if documento.precio_mlc is not None %}<span>{{ documento.precio_mlc }} EUR</span>{% endif %}
                <br>
                    <a href="#id_modal_generico_mediano" data-toggle="modal" class="dropdown-item"
                                       id="detalles_cont_fa_{{ element.id }}"
                                       onclick="crear_modal__detalles_equipamiento({{ documento.id }});">
                                        <i class="kt-nav__link-icon la la-search"></i>Ver mas
                                    </a>
                    <a onclick="mostrar_modal_adicionar_producto({{ documento.id }});"
                       class="c-content-isotope-overlay-btn btn c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x
                        c-btn-square">Adicionar</a>


				</div>
			</div>
            {% endfor %}

				</div>

        </div>


</div></div>
{% endblock %}
                    </div>
