{% load static %}

{% if form_registrar or form_modificar %}
    {% with form.first_name as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.last_name as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar %}
    {% with form.username as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-user"></i>
                        </span>
                    </div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.email as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-at"></i>
                        </span>
                    </div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.telefono as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }}</label>
            <div class="col-lg-8 col-xl-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-phone"></i>
                        </span>
                    </div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or modificar_contrasena %}
    {% with form.password1 as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-lock"></i>
                        </span>
                    </div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or modificar_contrasena %}
    {% with form.password2 as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="la la-lock"></i>
                        </span>
                    </div>
                    {{ field }}
                </div>
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.groups as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }} <h1 class="field_required">*</h1></label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.organismo as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }}</label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.provincia as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }}</label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.municipio as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">Municipio</label>
            <div class="col-lg-8 col-xl-7">
                <select name="municipio" id="id_municipio" class="form-control" required
                        data-municipio="{{ municipio }}">
                    {% if municipio %}
                        <option value="{{ municipio.id }}"
                                data-nombre_municipio="{{ municipio.nombre }}"
                                selected>{{ municipio.nombre }}</option>
                    {% else %}
                        <option value="">----------</option>
                    {% endif %}
                </select>
            </div>
        </div>
    {% endwith %}
{% endif %}

{% if form_registrar or form_modificar %}
    {% with form.entidad as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">Entidad</label>
            <div class="col-lg-8 col-xl-7">
                <select name="entidad" id="id_entidad" class="form-control" required
                        data-entidad="{{ entidad }}">
                    {% if entidad %}
                        <option value="{{ entidad.id }}"
                                data-nombre_entidad="{{ entidad.nombre }}"
                                selected>{{ entidad.nombre }}</option>
                    {% else %}
                        <option value="">----------</option>
                    {% endif %}
                </select>
            </div>
        </div>
    {% endwith %}
{% endif %}


{% if form_registrar or form_modificar %}
    {% with form.img_usuario as field %}
        <div class="form-group row">
            <label class="col-xl-2 col-lg-2 col-form-label">{{ field.label }}</label>
            <div class="col-lg-8 col-xl-7">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist" style="display: block">
                        {% for error in field.errors %}
                            <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endwith %}
{% endif %}

