<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">

    <div class="card">
        <div class="card-header" id="headingTwo6">
            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false"
                 aria-controls="collapseTwo6">
                <i class="flaticon-search"></i> Filtrar
            </div>
        </div>
        <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordionExample6">
            <div class="card-body">
                <div class="buscar_transporte">
                    <form action="" method="GET">

                        <div class="buscar_transpporte_content">

                            <div class="search_field">
                                <label>Tipo de vehículo:</label>
                                <select name="tipo_vehiculo" class="form-control" title="Seleccione un tipo de vehículo">
                                    <option value="">Seleccione un tipo de vehículo ...</option>
                                    {% for tipo_vehiculo in tipos_vehiculo %}
                                        <option value="{{ tipo_vehiculo.id }}"
                                                {% if tipo_vehiculo.id|striptags == request.GET.tipo_vehiculo %}selected{% endif %}>{{ tipo_vehiculo.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_field">
                                <label>Marca:</label>
                                <select name="marca" class="form-control" title="Seleccione una marca">
                                    <option value="">Seleccione una marca ...</option>
                                    {% for marca in marcas %}
                                        <option value="{{ marca.id }}"
                                                {% if marca.id|striptags == request.GET.marca %}selected{% endif %}>{{ marca.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_field">
                                <label>Modelo:</label>
                                <select name="modelo" class="form-control" title="Seleccione un modelo">
                                    <option value="">Seleccione un modelo ...</option>
                                    {% for modelo in modelos %}
                                        <option value="{{ modelo.id }}"
                                                {% if modelo.id|striptags == request.GET.modelo %}selected{% endif %}>{{ modelo.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_field">
                                <label>Subcategoría de servicio:</label>
                                <select name="subcategoria_servicio" class="form-control" title="Seleccione una subcategoría de servicio">
                                    <option value="">Seleccione una subcategoría de servicio ...</option>
                                    {% for subcategoria_servicio in subcategorias_servicio %}
                                        <option value="{{ subcategoria_servicio.id }}"
                                                {% if subcategoria_servicio.id|striptags == request.GET.subcategoria_servicio %}selected{% endif %}>{{ subcategoria_servicio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="search_field">
                                <label>Color:</label>
                                <input type="text" class="form-control" placeholder="Color ..."
                                       title="Escriba el color"
                                       name="color" value="{{ request.GET.color }}">
                            </div>
                        </div>

                        <div class="div_search_buttons">
                            <button type="submit" style="margin-right: 5px" title="Buscar"
                                    class="btn btn-default btn_normal search_button"><span
                                    class="flaticon-search-magnifier-interface-symbol"></span>
                            </button>

                            <a class="btn btn-default btn_normal search_button"
                               href="{% url 'transportes' %}"
                               title="Limpiar filtros"> <span class="flaticon2-refresh"></span>
                            </a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>