{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

    <div class="kt-portlet kt-portlet--mobile col-lg-11 col-md-11 col-sm-11 kt-block-center">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class='la la-{{ icono_form }}'></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{ titulo_tabla }}
                    <small>{{ subtitulo_tabla }}</small>
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        {% if form %}
            <form method="post" class="kt-form kt-form--label-right" id="form_locacion" enctype="multipart/form-data"
                  novalidate="novalidate">{% csrf_token %}
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <div class="row">
                            {% with form.nombre as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.sub_categoria as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.direccion as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.municipio as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.tipo_suelo as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.tipo_arquitectura as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.tipo_lugar as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.propietario_lugar as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.precio_cup as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.precio_mlc as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.amanecer_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.mediodia_img as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.anochecer_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.noche_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.perfil_lugar_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="ml-lg-auto">
                        <button type="submit" class="btn btn-success" style="margin-right: 5px;">Guardar</button>
                        <a href="{% url 'locaciones' %}" class="btn btn-clean btn-icon-sm">
                            <i class="la la-long-arrow-left"></i> Ir atrás
                        </a>
                    </div>
                </div>
            </form>
        {% endif %}
        <!--end::Form-->
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'general/jquery-validation/dist/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/jquery-validation/dist/localization/messages_es.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'general/vendors/js/jquery-validation.init.js' %}" type="text/javascript"></script>
    <script>
        $("#form_locacion").validate();
    </script>
{% endblock %}