{% load static %}
<div class="modal fade" id="id_modal_crear_proyecto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{% static 'assets/base/img/layout/logos/logo-5negrohabana.png' %}" alt="Estudio50Habana"
                     class="c-desktop-logo" style="max-height: 65px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="limpiarModalCrearProyecto();">
                </button>
            </div>
            <form action="{% url 'registrar_proyecto' %}" method="GET"
                  id="id_crear_proyecto_form"> {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row">
                        <h1 class="modal-title" id="id_modal_crear_proyecto_title" style="margin-left: 10px">Crea tu proyecto</h1>
                        <p style="color: #666; font-size: 150%; margin-left: 10px; margin-bottom: 20px">Por favor complete el siguiente formulario para comenzar
                            a construir su proyecto con
                            nosotros.</p>

                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="id_proyecto_nombre">Nombre del Proyecto</label>
                                <input type="text" id="id_proyecto_nombre" name="proyecto_nombre"
                                       class="form-control" placeholder="Nombre del proyecto" required>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="id_categoria">Tipo de proyecto</label>
                                <select style="display: block; width: 100%" name="categoria"
                                        class="form-control"
                                        title="Seleccione una categoria" required>
                                    <option value="">Tipo de Proyecto</option>
                                    {% for categoria in categorias %}
                                        <option value="{{ categoria.id }}"
                                                {% if categoria.id|striptags == request.GET.categoria %}selected{% endif %}>{{ categoria.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="id_fecha_inicio">Fecha de Inicio</label>
                                <input type="date" class="form-control" name="id_fecha_inicio"
                                       id="id_fecha_inicio" placeholder="Fecha de inicio" required>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="id_fecha_fin">Fecha Final</label>
                                <input type="date" class="form-control" name="id_fecha_fin"
                                       id="id_fecha_fin"
                                       placeholder="Fecha final">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="limpiarModalCrearProyecto();">CERRAR
                    </button>
                    {% if perms.proyecto.add_proyecto %}
                        <button type="submit" class="btn btn-primary"
                                onclick="$('#id_crear_proyecto_form').submit();">CREAR
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% block scripts %}
    <script>
        function limpiarModalCrearProyecto() {
            $('#id_crear_proyecto_form')[0].reset();
            $("option:selected").val("").trigger('change');
            $("#myselect").val("").trigger('change');
        }
    </script>
{% endblock %}