{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}


{% block content %}

    <div class="col-lg-5 col-md-12 col-sm-8 kt-block-center">

        <div class="kt-portlet ">
            <div class="kt-portlet__head  kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"></h3>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y">

                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-1">
                    <div class="kt-widget__head">
                        <div class="kt-widget__media">
                            {% if request.user.img_usuario %}
                                <img class="" alt="Avatar" src="{{ MEDIA_URL }}{{ request.user.img_usuario }}" />
                             {% else %}
                                <img class="" alt="Avatar" src="{% static 'img/img_user_default.jpg' %}" />
                            {% endif %}
                        </div>
                        <div class="kt-widget__content">
                            <div class="kt-widget__section">
                                <a href="#" class="kt-widget__username">
                                    {% if request.user.first_name != "" %}
                                        {{ request.user.fullname }}
                                    {% else %}
                                        {{ request.user.username }}
                                    {% endif %}
                                </a>

                                    {% if request.user.is_active %}
                                        <i class="flaticon2-correct kt-font-success" style="padding-left: 5px"
                                           data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="Habilitado"></i>
                                    {% else %}
                                        <i class="flaticon2-correct kt-font-danger"
                                           data-toggle="kt-tooltip" title="" data-placement="right" data-original-title="Deshabilitado"></i>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="kt-widget__body">
                        <div class="kt-widget__content">
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Nombre de usuario:</span>
                                <span class="kt-widget__data">{{ request.user.username }}</span>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Correo:</span>
                                <span class="kt-widget__data">{{ request.user.email }}</span>
                            </div>
                            {% if request.user.telefono %}
                                <div class="kt-widget__info">
                                    <span class="kt-widget__label">Teléfono:</span>
                                    <span class="kt-widget__data">{{ request.user.telefono }}</span>
                                </div>
                            {% endif %}
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Categoría de usuario:</span>
                                <span class="kt-widget__data">{{ request.user.categoria_usuario }}</span>
                            </div>
                            <div class="kt-widget__info">
                                <span class="kt-widget__label">Estado:</span>
                                <span class="kt-widget__data">Usuario {% if request.user.is_active %}habilitado{% else %}deshabilitado{% endif %}</span>
                            </div>
                        </div>

                        <div class="kt-widget__items">

                            <button type="button" class="btn btn-outline-brand" style="width: 100%"
                                onclick="window.location.href='modificar/{{ request.user.id }}'">
                                <i class="fa fa-edit"></i> Modificar Perfil
                            </button>

                            <button type="button" class="btn btn-outline-brand" style="width: 100%; margin-top: 5px"
                                onclick="window.location.href='modificar_contrasena'">
                                <i class="fa fa-key"></i> Cambiar contraseña
                            </button>

{#                            <button type="button" class="btn btn-outline-brand" style="width: 100%; margin-top: 5px"#}
{#                                onclick="alert('Opción en desarrollo...')">#}
{#                                <i class="fa fa-envelope"></i> Chat#}
{#                            </button>#}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
