{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block styles %}
    <link href="{% static 'general/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <!DOCTYPE html>
    <html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        #contenedor {
            word-wrap: break-word;
        }
        #contenedor1 {
            word-wrap: break-word;
        }
    </style>

    <div class="kt-portlet kt-portlet--mobile col-lg-10 col-md-10 col-sm-12 kt-block-center">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class='la la-search'></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{ titulo_tabla }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-gears"></i> Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-left">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    {% if perms.nomencladores.change_entidad %}
                                        <a href="{% url 'modificar_entidad' object.id %}?from_detalles=True"
                                           class="dropdown-item ">
                                            <i class="kt-nav__link-icon la la-edit"></i>
                                            <span class="kt-nav__link-text">Editar</span>
                                        </a>
                                    {% endif %}
                                </li>
                                {% if object.activo == True %}
                                    <li class="kt-nav__item">
                                        {% if perms.nomencladores.disable_entidad %}
                                            <a href="javascript:;" class="dropdown-item" onclick="mostrar_confirmacion_deshabilitar({{ object.id }})"
                                               data-texto="la entidad seleccionada" data-href="{% url 'deshabilitar_entidad' object.id %}"
                                               id="btn_deshabilitar_{{ object.id }}">
                                                <i class="kt-nav__link-icon la la-remove"></i>
                                                <span class="kt-nav__link-text">Deshabilitar</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                    {% else %}
                                        <li class="kt-nav__item">
                                            {% if perms.nomencladores.enable_entidad %}
                                               <a href="javascript:;" class="dropdown-item" onclick="mostrar_confirmacion_habilitar({{ object.id }})"
                                                  data-texto="la entidad seleccionada" data-href="{% url 'habilitar_entidad' object.id %}"
                                                  id="btn_habilitar_{{ object.id }}">
                                                   <i class="kt-nav__link-icon la la-check"></i>
                                                   <span class="kt-nav__link-text">Habilitar</span>
                                               </a>
                                            {% endif %}
                                        </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="kt-portlet__body">
            <div class="row">
                <div id="contenedor" class="col-xl-6 col-md-6 " style="padding: 1px;">
                    <p><strong>Número de registro de la entidad:</strong> {{ object.id }}</p>
                    <p><strong>Nombre:</strong> {{ object.nombre }}</p>
                    {% if object.cod_reeup %}<p><strong>Código REEUP (Para entidades nacionales):</strong> {{ object.cod_reeup }}</p>{% endif %}
                    <p><strong>País:</strong> {{ object.pais }}</p>
                    {% if object.organismo %}<p><strong>Organismo, OSDE o Gobierno:</strong> {{ object.organismo }}</p>{% endif %}
                    {% if object.municipio %}<p><strong>Municipio:</strong> {{ object.municipio }}</p>{% endif %}
                    <p><strong>Teléfono:</strong> {{ object.telefono }}</p>
                    {% if object.num_contrato %}<p><strong>Número de Contrato:</strong> {{ object.num_contrato }}</p>{% endif %}
                    <p><strong>Dirección:</strong> {{ object.direccion }}</p>
                    {% if object.direccion_web %}<p><strong>Dirección web:</strong> {{ object.direccion_web }}</p>{% endif %}
                    <p><strong>Estado: </strong>
                        <span style="width: 145px;">
                           <span class="kt-widget__data">{% if object.activo == True %}habilitado{% else %}deshabilitado{% endif %}</span>
                       </span>
                    </p>
                </div>

                <div id="contenedor1" class="col-xl-6 col-md-6 " style="padding: 1px;">
                    <p><strong>Correo:</strong> {{ object.correo }}</p>
                    {% if object.num_lic_comercial_camara_comercio %}<p><strong>No. Lic.Comercial (Para sucursales comerciales extranjeras):</strong> {{ object.num_lic_comercial_camara_comercio }}</p>{% endif %}
                    {% if object.num_acta_protocolizacion %}<p><strong>No. Acta de Protocolización (para entidades que operan desde el exterior):</strong> {{ object.num_acta_protocolizacion }}</p>{% endif %}
                    {% if object.identificacion_fiscal %}<p><strong>Identificación Fiscal Única (Para TPCP y DPL):</strong> {{ object.identificacion_fiscal }}</p>{% endif %}
                    {% if object.num_escritura_publica %}<p><strong>No. Escritura pública notarial (Para CNA Y MIPYMES):</strong> {{ object.num_escritura_publica }}</p>{% endif %}
                    <p><strong>Nombre del representante, gerente o director:</strong> {{ object.nombre_representante }}</p>
                    <p><strong>Cargo del representante, gerente o director:</strong> {{ object.cargo_representante }}</p>
                    <p><strong>Tipo entidad:</strong> {% if object.tipo_entidad_nacional %}{{ object.tipo_entidad_nacional.nombre }}{% else %}{{ object.tipo_entidad_extranjera.nombre }}{% endif %}</p>
                    <p><strong>¿Tiene almacén?:</strong> {% if object.almacen == True %}si{% else %}no{% endif %}</p>
                    <p><strong>¿Es entidad importadora?:</strong> {% if object.tipo_entidad == True %}si{% else %}no{% endif %}</p>
                    <p><strong>Observaciones:</strong> {{ object.observaciones }}</p>
                </div>
            </div>
        </div>

        <div class="kt-portlet__foot">
            <div class="kt-portlet__foot--sm" style="display: inline-block">
                <h1 style="font-size: 120%">Fecha de registro: <small>{{ object.fecha_registro }}</small></h1>
                <h1 style="font-size: 120%">Fecha de la última actualización: <small>{{ object.fecha_actualizacion }}</small></h1>
            </div>
            <div style="display: inline-block; float: right">
                <a class="btn btn-brand btn-default btn-icon-sm kt-margin-5-tablet-and-mobile" style="width: 118px"
                    title="Ir atrás" href="{% url 'entidades' %}" >
                    <i class="la la-arrow-left"></i> Ir atrás
                </a>
            </div>
        </div>

    </div>
    </html>

{% endblock %}

{% block scripts %}
    <script src="{% static 'general/block-ui/jquery.blockUI.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/bootstrap-sweetalert/sweetalert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/vendors/js/ui-sweetalert.min.js' %}" type="text/javascript"></script>
{% endblock %}
