{% load static %}
<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style>
    .logo {
        width: 110px;
        height: 95px;
        margin-top: 10pt;
    }

    #invoice thead tr th {
        text-align: left;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding-top: 4px;
    }

    #invoice thead tr {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #invoice tbody tr {
        padding: 0;
    }

</style>
<body>
<div id="content_content">
    <div class="title_invoice">

        <table style="border: 1px solid black;">
            <tr>
                <td rowspan="3" style="text-align: center; width: 120px"><img class="logo"
                                                                              src="data:image/png;base64,{{ header }}"
                                                                              alt="Logo"></td>
                <td rowspan="3" style="text-align: center; width: 300px; font-size: 350%; font-style: normal;">
                    <strong>{{ title }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: bottom; padding: 0.1em; font-size: 150%; height: 40px; width: 300px">
                    <strong>Fecha: {{ fecha_actual }}</strong></td>
            </tr>
            <tr>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 150%; height: 40px">
                    <strong>Prefactura No.{{ numero_prefactura.numero_prefactura }}</strong></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center; vertical-align: bottom;font-size: 150%; height: 25px">
                    <strong>DATOS DEL CLIENTE</strong></td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%;">
                    <strong>Dirección: {{ componentes.direccion }} Código REEUP: {{ componentes.codigo }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%; height: 35px">
                    <strong>NOMBRE: {{ numero_prefactura.entidad.nombre }}</strong></td>
            </tr>
            <tr>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%; height: 35px">
                    <strong>Dirección: {{ numero_prefactura.entidad.direccion }}</strong></td>
            </tr>
            <tr>
                <td colspan="2"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%; height: 50px">
                    <strong>Número Cuenta Bancaria CUP: {{ componentes.numero_cuenta }}
                        Titular: {{ componentes.titular }}</strong></td>
                <td colspan="4" style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%;">
                    {% if numero_prefactura.entidad.num_lic_comercial_camara_comercio %}<strong>No. Licencia
                        Comercial: {{ numero_prefactura.entidad.num_lic_comercial_camara_comercio }}</strong>{% endif %}
                    {% if numero_prefactura.entidad.num_acta_protocolizacion %}<strong>Acta de
                        Protocolización: {{ numero_prefactura.entidad.num_acta_protocolizacion }}</strong>{% endif %}
                    {% if numero_prefactura.entidad.cod_reeup %}
                        <strong>Código REEUP: {{ numero_prefactura.entidad.cod_reeup }}</strong>{% endif %}</td>
            </tr>
            <tr>
                <td colspan="2"
                    style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 160%; height: 40px">
                    <strong>Teléfono: {{ componentes.telefono }} Email: {{ componentes.email }}</strong></td>
                <td colspan="4" style="text-align: left; vertical-align: top; padding: 0.1em; font-size: 140%;"><strong>No.
                    Contrato: {{ numero_prefactura.entidad.num_contrato }}</strong></td>

            </tr>
            <thead>
            <tr>
                <td style="text-align: center; width: 120px; height: 25px; font-size: 120%;"><strong>No. Registro
                    EPP</strong></td>
                <td style="text-align: center; width: 300px; font-size: 120%;"><strong>DESCRIPCION
                    (MODELO/REFERENCIA)</strong></td>
                <td style="text-align: center; width: 50px; font-size: 120%;"><strong>UM</strong></td>
                <td style="text-align: center; width: 60px; font-size: 120%;"><strong>CANT</strong></td>
                <td style="text-align: center; width: 100px; font-size: 115%;"><strong>IMPORTE (CUP)</strong></td>
                <td style="text-align: center; width: 95px; font-size: 115%;"><strong>IMPORTE (MLC)</strong></td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: center; height: 25px; font-size: 120%;"><strong>REGISTRO Y APROBACION
                    DE:</strong></td>
                <td style="text-align: center"></td>
            </tr>
            </thead>
            <tbody>
            {% for equipos in equipos_prefactura %}
                <tr>
                    <td style="text-align: center; width: 120px; height: 25px; font-size: 120%;"><strong>
                        {% if equipos.renovado %}R-{{ equipos.id }}{% else %}{{ equipos.id }}{% endif %}</strong></td>
                    <td style="text-align: center; width: 300px; font-size: 120%;"><strong>
                        {% if equipos.modelo %}{{ equipos.modelo }}{% else %}-{% endif %}
                        {% if equipos.numero_referencia %} / {{ equipos.numero_referencia }}{% else %} /
                            -{% endif %}</strong></td>
                    <td style="text-align: center; width: 50px; font-size: 120%;"><strong>U</strong></td>
                    <td style="text-align: center; width: 60px; font-size: 120%;"><strong>1</strong></td>
                    <td style="text-align: center; width: 100px; font-size: 115%;">
                        {% if tipo_pago == "CUP" %}
                            {% if equipos.renovado == True %}
                                <strong>{{ equipos.categoria.precio_renovado_cup }}.00</strong>
                            {% elif equipos.renovado == False and equipos.equipo_ya_certificado == False %}
                                <strong>{{ equipos.categoria.precio_cup }}.00</strong>
                            {% elif equipos.equipo_ya_certificado == True %}
                                <strong>{{ equipos.categoria.precio_equipo_ya_certificado_cup }}.00</strong>{% endif %}
                        {% endif %}
                    <td style="text-align: center; width: 95px; font-size: 115%;">
                        {% if tipo_pago == "MLC" %}
                            {% if equipos.renovado == True %}
                                <strong>{{ equipos.categoria.precio_renovado_mlc }}.00</strong>
                            {% elif equipos.renovado == False and equipos.equipo_ya_certificado == False %}
                                <strong>{{ equipos.categoria.precio_mlc }}.00</strong>
                            {% elif equipos.equipo_ya_certificado == True %}
                                <strong>{{ equipos.categoria.precio_equipo_ya_certificado_mlc }}.00</strong>{% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2" style="text-align: left; padding: 0.1em; height: 25px; font-size: 120%;">
                    <strong>TOTAL</strong></td>
                <td style="text-align: center; padding: 0.1em; width: 50px; font-size: 120%;"><strong>U</strong></td>
                <td style="text-align: center; padding: 0.1em; width: 60px; font-size: 120%;">
                    <strong>{{ cantidad }}</strong></td>
                <td style="text-align: center; width: 100px; font-size: 120%;"><strong>
                    {% if tipo_pago == "CUP" %}{{ total_cup }}.00{% endif %}</strong></td>
                <td style="text-align: center;  width: 90px; font-size: 120%;"><strong>
                    {% if tipo_pago == "MLC" %}{{ total_mlc }}.00{% endif %}</strong></td>
            </tr>
            </tbody>
            <tr>
                <td rowspan="2" style="text-align: left; padding: 0.1em; width: 120px; font-size: 120%;"><strong>ELABORADO
                    POR:</strong></td>
                <td style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>Nombre: {{ elaborado_nombre }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>Fecha: {{ fecha_actual }}</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>Cargo: {{ elaborado_cargo }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>Firma:</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 120px; font-size: 120%;">
                    <strong>REVISADO POR:</strong></td>
                <td style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>ENTREGADO Y REGISTRADO POR:</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 30px; font-size: 120%;">
                    <strong>RECIBIDO POR:</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top; padding: 0.11em; width: 120px; font-size: 120%;">
                    <strong>Nombre: {{ revisado_nombre }}</strong></td>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 35px; font-size: 120%;">
                    <strong>Nombre: {{ entregado_registrado_nombre }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 35px; font-size: 120%;">
                    <strong>Nombre:</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top; padding: 0.11em; width: 120px; font-size: 120%;">
                    <strong>CARGO: {{ revisado_cargo }}</strong></td>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 35px; font-size: 120%;">
                    <strong>Cargo: {{ entregado_registrado_cargo }}</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 35px; font-size: 120%;">
                    <strong>Cargo:</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; width: 120px; font-size: 120%;">
                    <strong>Firma:</strong></td>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; height: 25px; font-size: 120%;">
                    <strong>Firma:</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 25px; font-size: 120%;">
                    <strong>Firma:</strong></td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; width: 120px; font-size: 120%;">
                    <strong>Fecha: {{ fecha_actual }}</strong></td>
                <td style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 25px; font-size: 120%;">
                    <strong>Fecha:</strong></td>
                <td colspan="4"
                    style="text-align: left; vertical-align: top; padding: 0.1em; width: 300px; height: 25px; font-size: 120%;">
                    <strong>Fecha:</strong></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left; vertical-align: bottom; padding: 0.1em; font-size: 120%;">
                    <strong>Documento de Pago: Cheque_______ Transferencia_______</strong></td>
                <td colspan="3"
                    style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 300px; height: 20px; font-size: 120%;">
                    <strong>Número:</strong></td>
                <td style="text-align: left; vertical-align: bottom; padding: 0.1em; width: 95px; height: 20px; font-size: 120%;">
                    <strong>Importe</strong></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
