{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block styles %}
    <link href="{% static 'general/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="kt-portlet kt-portlet--mobile col-lg-10 col-md-10 col-sm-12 kt-block-center">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class='la la-search'></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{ titulo_tabla }}
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-wrapper">
                    <div class="dropdown dropdown-inline">
                        <button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="la la-gears"></i> Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-left">
                            <ul class="kt-nav">
                                <li class="kt-nav__item">
                                    {% if perms.equipo_proteccion_personal.change_equipoproteccionpersonal %}
                                        <a href="{% url 'modificar_equipo_proteccion_personal' object.id %}?from_detalles=True"
                                           class="dropdown-item">
                                            <i class="kt-nav__link-icon la la-edit"></i>
                                            <span class="kt-nav__link-text">Editar</span>
                                        </a>
                                    {% endif %}
                                </li>
                                {% if object.activo == True %}
                                    <li class="kt-nav__item">
                                        {% if perms.equipo_proteccion_personal.disable_equipo_proteccion_personal %}
                                            <a href="javascript:;" class="dropdown-item"
                                               onclick="mostrar_confirmacion_deshabilitar({{ object.id }})"
                                               data-texto="el equipo de protección personal seleccionado"
                                               data-href="{% url 'deshabilitar_equipo_proteccion_personal' object.id %}"
                                               id="btn_deshabilitar_{{ object.id }}">
                                                <i class="kt-nav__link-icon la la-remove"></i>
                                                <span class="kt-nav__link-text">Deshabilitar</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <li class="kt-nav__item">
                                        {% if perms.equipo_proteccion_personal.enable_equipo_proteccion_personal %}
                                            <a href="javascript:;" class="dropdown-item"
                                               onclick="mostrar_confirmacion_habilitar({{ object.id }})"
                                               data-texto="el equipo de protección personal seleccionado"
                                               data-href="{% url 'habilitar_equipo_proteccion_personal' object.id %}"
                                               id="btn_habilitar_{{ object.id }}">
                                                <i class="kt-nav__link-icon la la-check"></i>
                                                <span class="kt-nav__link-text">Habilitar</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if object.primera_img %}
            <div class="kt-portlet__body">
                <div class="row">
                    {% if object.primera_img %}
                        <div class="col-xl-4 col-md-4" style="padding: 1px; text-align: center; width: 200px; height: 180px">
                            <img class="" alt="Avatar" src="/media/{{ object.primera_img }}" style="width: 200px; height: 180px">
                        </div>
                    {% endif %}
                    {% if object.segunda_img%}
                        <div class="col-xl-4 col-md-4" style="padding: 1px; text-align: center; width: 200px; height: 180px">
                            <img class="" alt="Avatar" src="/media/{{ object.segunda_img }}" style="width: 200px; height: 180px">
                        </div>
                    {% endif %}
                    {% if object.tercera_img %}
                        <div class="col-xl-4 col-md-4" style="padding: 1px; text-align: center; width: 200px; height: 180px">
                            <img class="" alt="Avatar" src="/media/{{ object.tercera_img }}" style="width: 200px; height: 180px">
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-xl-6 col-md-6" style="padding: 1px;">
                    <p><strong>Número de registro del EPP:</strong> {{ object.id }}</p>
                    <p><strong>Nombre:</strong> {{ object.nombre }}</p>
                    <p><strong>Categoría del equipo:</strong> {{ object.categoria }}</p>
                    <p><strong>Tipo de Aprobación:</strong> {{ object.tipo_aprobacion }}</p>
                    <p><strong>Entidad:</strong> {{ object.numero_prefactura.entidad.nombre }}</p>
                    {% if object.entidad_importadora %}
                        <p><strong>Entidad importadora:</strong> {{ object.entidad_importadora }}</p>{% endif %}
                    <p><strong>Fecha de vencimiento del certificado:</strong> {{ object.fecha_vencimiento_certificado }}</p>
                    <p><strong>Marca comercial registrada:</strong> {{ object.marca_comercial_registrada }}</p>
                    {% if object.factura %}<p><strong>Estado de pago: </strong>{% if object.factura.estado_pago == True %}Pagado{% else %}No pagado{% endif %}</p>{% endif %}
                    <p><strong>Estado: </strong>
                        <span style="width: 145px;">
                           <span class="kt-widget__data">{% if object.activo == True %}Vigente{% else %}
                               Vencido{% endif %}</span>
                       </span>
                    </p>
                </div>
                <div class="col-xl-6 col-md-6" style="padding: 1px;">
                    {% if object.modelo %}<p><strong>Modelo:</strong> {{ object.modelo }}</p>{% endif %}
                    {% if object.numero_referencia %}<p><strong>No. de referencia:</strong> {{ object.numero_referencia }}</p>{% endif %}
                    <p><strong>Clientes o usuarios fundamentales del equipo:</strong> {{ object.clientes_usuarios }}</p>
                    <p><strong>¿Muestras del equipo?:</strong> {% if object.muestras_equipo == True %}si{% else %}
                        no{% endif %}</p>
                    <p><strong>¿Está renovado?:</strong> {% if object.renovado == True %}si{% else %}no{% endif %}</p>
                    <p><strong>Parte del cuerpo que protege:</strong> {{ object.parte_cuerpo.all|join:'|' }}</p>
                    <p><strong>Número de prefactura:</strong> {{ object.numero_prefactura }}</p>
                    <p><strong>¿Está certificado por otra entidad?:</strong> {% if object.equipo_ya_certificado == True %}si{% else %}no{% endif %}</p>
                    {% if object.usuario %}<p><strong>Usuario que gestionó el equipo:</strong> {{ object.usuario.username }}</p>{% endif %}
                    <p><strong>Factura:</strong> {% if object.factura %}{{ object.factura.numero_prefactura.numero_prefactura }}{% else %}No facturado{% endif %}</p>
                </div>
                <div class="row">
                    {% if perms.equipo_proteccion_personal.view_historialepprenovado %}
                        {% if object.renovado == True %}
                            <h1 style="font-size: 160%; margin-top: 40px; display: block; width: 100%"><strong>Historial
                                de renovación del EPP:</strong></h1>
                            <div class="col-xl-12 historial_renovacion_epp">
                                <p><strong>Número de registro del EPP anterior:</strong> {{ object.id }}
                                </p>
                                <p><strong>Fecha de renovación:</strong> {{ object.fecha_renovacion }}</p>
                                <p><strong>Renovado:</strong> {% if object.renovado == True %}si{% else %}
                                    no{% endif %}</p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="kt-portlet__foot">
                <div class="kt-portlet__foot--sm" style="display: inline-block">
                    <h1 style="font-size: 120%">Fecha de registro: <small>{{ object.fecha_registro }}</small></h1>
                    <h1 style="font-size: 120%">Fecha de la última actualización:
                        <small>{{ object.fecha_actualizacion }}</small></h1>
                </div>
                <div style="display: inline-block; float: right">
                    <a class="btn btn-brand btn-default btn-icon-sm kt-margin-5-tablet-and-mobile" style="width: 118px"
                       title="Ir atrás" href="{% url 'equipos_proteccion_personal' %}">
                        <i class="la la-arrow-left"></i> Ir atrás
                    </a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'general/block-ui/jquery.blockUI.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/bootstrap-sweetalert/sweetalert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/vendors/js/ui-sweetalert.min.js' %}" type="text/javascript"></script>
{% endblock %}