{#{% load static %}#}
{##}
{#<div class="kt-header__topbar-item dropdown" style="padding-right: 10px" data-toggle="kt-tooltip" title data-placement="left" data-original-title="Notificaciones">#}
{#    <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="30px,0px" aria-expanded="true">#}
{#        <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">#}
{#            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">#}
{#                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">#}
{#                    <path d="M17,12 L18.5,12 C19.3284271,12 20,12.6715729 20,13.5 C20,14.3284271 19.3284271,15 18.5,15 L5.5,15 C4.67157288,15 4,14.3284271 4,13.5 C4,12.6715729 4.67157288,12 5.5,12 L7,12 L7.5582739,6.97553494 C7.80974924,4.71225688 9.72279394,3 12,3 C14.2772061,3 16.1902508,4.71225688 16.4417261,6.97553494 L17,12 Z" id="Combined-Shape" fill="#000000"/>#}
{#                    <rect id="Rectangle-23" fill="#000000" opacity="0.3" x="10" y="16" width="4" height="4" rx="2"/>#}
{#                </g>#}
{#            </svg>#}
{#            <span class="kt-pulse__ring"></span>#}
{#        </span>#}
{##}
{#        <!--#}
{#            Use dot badge instead of animated pulse effect:#}
{#            <span class="kt-badge kt-badge--dot kt-badge--notify kt-badge--sm kt-badge--brand"></span>#}
{#        -->#}
{#    </div>#}
{#    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg">#}
{#        <form>#}
{##}
{#            <!--begin: Head -->#}
{#            <div class="kt-head kt-head--skin-dark kt-head--fit-x kt-head--fit-b" style="background-image: url({% static 'img/fondo_header.jpg' %})">#}
{#                <h3 class="kt-head__title">#}
{#                    Notificaciones#}
{#                    &nbsp;#}
{#                    <span class="btn btn-success btn-sm btn-bold btn-font-md">2 nuevas</span>#}
{#                </h3>#}
{#                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success kt-notification-item-padding-x" role="tablist">#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alertas</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Eventos</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{##}
{#            <!--end: Head -->#}
{#            <div class="tab-content">#}
{#                <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">#}
{#                    <div class="kt-notification kt-margin-t-10 kt-margin-b-10 kt-scroll" data-scroll="true" data-height="300" data-mobile-height="200">#}
{#                        <a href="#" class="kt-notification__item">#}
{#                            <div class="kt-notification__item-icon">#}
{#                                <i class="flaticon2-line-chart kt-font-success"></i>#}
{#                            </div>#}
{#                            <div class="kt-notification__item-details">#}
{#                                <div class="kt-notification__item-title">#}
{#                                    Alerta 1#}
{#                                </div>#}
{#                                <div class="kt-notification__item-time">#}
{#                                    2 horas#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                        <a href="#" class="kt-notification__item">#}
{#                            <div class="kt-notification__item-icon">#}
{#                                <i class="flaticon2-pie-chart kt-font-success"></i>#}
{#                            </div>#}
{#                            <div class="kt-notification__item-details">#}
{#                                <div class="kt-notification__item-title">#}
{#                                    Alerta 2#}
{#                                </div>#}
{#                                <div class="kt-notification__item-time">#}
{#                                    3 días#}
{#                                </div>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="tab-pane" id="topbar_notifications_events" role="tabpanel">#}
{#                    <div class="kt-grid kt-grid--ver" style="min-height: 200px;">#}
{#                        <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">#}
{#                            <div class="kt-grid__item kt-grid__item--middle kt-align-center">#}
{#                                No tiene eventos programados.#}
{#                                <br>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">#}
{#                    <div class="kt-grid kt-grid--ver" style="min-height: 200px;">#}
{#                        <div class="kt-grid kt-grid--hor kt-grid__item kt-grid__item--fluid kt-grid__item--middle">#}
{#                            <div class="kt-grid__item kt-grid__item--middle kt-align-center">#}
{#                                All caught up!#}
{#                                <br>No new notifications.#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
{#    </div>#}
{#</div>#}