<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">

    <div class="card">
        <div class="card-header" id="headingTwo6">
            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false"
                 aria-controls="collapseTwo6">
                <i class="flaticon-search"></i> Filtrar
            </div>
        </div>
        <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordionExample6">
            <div class="card-body">
                <div class="buscar_sub_categoria">
                    <form action="" method="GET">

                        <div class="buscar_sub_categoria_content">

                            <div class="search_field">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" placeholder="Nombre ..."
                                       title="Escriba el nombre"
                                       name="nombre" value="{{ request.GET.nombre }}">
                            </div>

                            <div class="search_field">
                                <label>Categoría de servicio:</label>
                                <select name="categoria_servicio" class="form-control" title="Seleccione una categoría de servicio">
                                    <option value="">Seleccione una categoría de servicio ...</option>
                                    {% for categoria_servicio in categorias_servicio %}
                                        <option value="{{ categoria_servicio.id }}"
                                                {% if categoria_servicio.id|striptags == request.GET.categoria_servicio %}selected{% endif %}>{{ categoria_servicio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="div_search_buttons">
                            <button type="submit" style="margin-right: 5px" title="Buscar"
                                    class="btn btn-default btn_normal search_button"><span
                                    class="flaticon-search-magnifier-interface-symbol"></span>
                            </button>

                            <a class="btn btn-default btn_normal search_button" href="{% url 'entidades' %}"
                               title="Limpiar filtros"> <span class="flaticon2-refresh"></span>
                            </a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

