<div class="modal fade" id="id_modal_pago_factura" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="id_modal_pago_factura_title">Pagar Factura:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiarModalPagoFactura();">
                </button>
            </div>
            <form action="{% url 'pagar_factura' %}" method="GET"
                  id="id_pago_factura_form"> {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="id_numero_prefactura" class="form-control-label">Número de Prefactura:
                                    <h1 class="field_required">*</h1></label>
                                <select style="display: block; width: 100%" name="numero_prefactura" class="form-control"
                                        title="Seleccione un número de prefactura" required>
                                    <option value="">Seleccione un número de prefactura ...</option>
                                    {% for numero_prefactura in numeros_prefactura %}
                                        <option value="{{ numero_prefactura.id }}"
                                                {% if numero_prefactura.id|striptags == request.GET.numero_prefactura %}selected{% endif %}>{{ numero_prefactura.numero_prefactura }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label for="id_fecha_pago" class="form-control-label">Fecha en que se pago:
                                    <h1 class="field_required">*</h1></label>
                                <input type="date" class="form-control"
                                       name="fecha_pago" title="Seleccione una fecha de pago" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="limpiarModalPagoFactura();">Cerrar</button>
                    {% if perms.equipo_proteccion_personal.pagar_factura %}
                        <button type="submit" class="btn btn-primary"
                                onclick="$('#id_pago_factura_form').submit();">Pagar
                        </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% block scripts %}
    <script>
        function limpiarModalPagoFactura(){
            $('#id_pago_factura_form')[0].reset();
            $("option:selected").val("").trigger('change');
        }
    </script>
{% endblock %}