{% extends 'evento_proyecto/form_evento_proyecto_calendario.html' %}
{% load static %}
{% load bootstrap %}
<div class="tab-pane show active" id="tab_3_1_content">
{% block evento_llamado_calendario %}

                    <div class="c-content-box c-size-sm">
	<div>
		<div class="c-shop-cart-page-1">
        <h1>Equipamientos</h1>
			<div class="row c-cart-table-title">
				<div class="col-md-2 c-cart-image">
					<h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Image</h3>
				</div>
				<div class="col-md-4 c-cart-desc">
					<h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Description</h3>
				</div>
				<div class="col-md-1 c-cart-qty">
					<h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Qty</h3>
				</div>
				<div class="col-md-2 c-cart-price">
					<h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Unit Price</h3>
				</div>
				<div class="col-md-1 c-cart-total">
					<h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Total</h3>
				</div>
				<div class="col-md-1 c-cart-remove">
                    <h3 class="c-font-uppercase c-font-bold c-font-16 c-font-grey-2">Options</h3>
</div>
			</div>
			<!-- BEGIN: SHOPPING CART ITEM ROW -->
            {% for documento in equipamientos_seleccionados %}
			<div class="row c-cart-table-row">
				<div class="col-md-2 col-sm-3 col-xs-5 c-cart-image" style="max-height: 300px; max-width: 300px">
					<img src="/media/{{ documento.equipamiento.equipamiento_img }}"/>
				</div>
				<div class="col-md-4 col-sm-9 col-xs-7 c-cart-desc">
					<h3><a href="#id_modal_generico_mediano" data-toggle="modal" id="detalles_cont_fa_{{ element.id }}" onclick="crear_modal__detalles_equipamiento({{ documento.equipamiento.id }});" class="c-font-bold c-font-22 c-font-dark">{{ documento.equipamiento.nombre }}</a></h3>

				</div>

				<div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">QTY</p>
					<div class="c-input-group c-spinner">
					    <input type="number" class="form-control" value="{{ documento.cantidad }}" disabled>
					    <div class="c-input-group-btn-vertical">
					    	<button class="btn btn-default" type="button" data_input="c-item-1" data-maximum="10"><i class="fa fa-caret-up"></i></button>
					    	<button class="btn btn-default" type="button" data_input="c-item-1"><i class="fa fa-caret-down"></i></button>
					    </div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Unit Price</p>
					<p class="c-cart-price c-font-bold">{{ documento.equipamiento.precio_mlc}} EUR</p>
				</div>
				<div class="col-md-1 col-sm-3 col-xs-6 c-cart-total">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
					<p class="c-cart-price c-font-bold">{{ documento.precio_mlc_acumulado }} EUR</p>
				</div>
				<div class="col-md-1 col-sm-12 c-cart-remove">
                    <a onclick="eliminar_producto_seleccionado({{ documento.equipamiento.id}},{{ llamado_id }} );" class="c-theme-link c-cart-remove-desktop"><i class="icon-trash "></i></a>
                    <a onclick="mostrar_modal_adicionar_producto({{ documento.equipamiento.id}});" class="c-theme-link c-cart-remove-desktop"><i class="icon-pencil "></i></a>
					<a onclick="eliminar_producto_seleccionado({{ documento.equipamiento.id}},{{ llamado_id }} );" class="c-cart-remove-mobile btn c-btn c-btn-md c-btn-square c-btn-red c-btn-border-1x c-font-uppercase">Remove item from Call</a>
				</div>
			</div>
            {% endfor %}
                <h1>Talents</h1>

        {% for documento in talentos_seleccionados %}
			<div class="row c-cart-table-row">
				<div class="col-md-2 col-sm-3 col-xs-5 c-cart-image">
					<img src="/media/{{ documento.actor.primera_img }}"/>
				</div>
				<div class="col-md-4 col-sm-9 col-xs-7 c-cart-desc">
					<h3><a href="#id_modal_generico_mediano" data-toggle="modal" id="detalles_cont_fa_{{ element.id }}" onclick="crear_modal__detalles_equipamiento({{ documento.equipamiento.id }});" class="c-font-bold c-font-22 c-font-dark">{{ documento.actor.primer_nombre }} {{ documento.actor.primer_apellido }} {{ documento.actor.segundo_apellido }}</a></h3>

				</div>

				<div class="col-md-1 col-sm-3 col-xs-6 c-cart-qty">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">QTY</p>
					<div class="c-input-group c-spinner">
					    <input type="number" class="form-control" value="1" disabled>
					    <div class="c-input-group-btn-vertical">
					    	<button class="btn btn-default" type="button" data_input="c-item-1" data-maximum="10"><i class="fa fa-caret-up"></i></button>
					    	<button class="btn btn-default" type="button" data_input="c-item-1"><i class="fa fa-caret-down"></i></button>
					    </div>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-6 c-cart-price">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Unit Price</p>
					<p class="c-cart-price c-font-bold">{{ documento.actor.precio_euro}} EUR</p>
				</div>
				<div class="col-md-1 col-sm-3 col-xs-6 c-cart-total">
					<p class="c-cart-sub-title c-theme-font c-font-uppercase c-font-bold">Total</p>
					<p class="c-cart-price c-font-bold">{{ documento.precio_mlc_acumulado }} EUR</p>
				</div>
				<div class="col-md-1 col-sm-12 c-cart-remove">
                    <a onclick="eliminar_talent_seleccionado({{ documento.id}},{{ llamado_id }} );" class="c-theme-link c-cart-remove-desktop"><i class="icon-trash "></i></a>
                    <a onclick="mostrar_modal_adicionar_producto({{ documento.actor.id}});" class="c-theme-link c-cart-remove-desktop"><i class="icon-pencil "></i></a>
					<a onclick="eliminar_talent_seleccionado({{ documento.id}},{{ llamado_id }} );" class="c-cart-remove-mobile btn c-btn c-btn-md c-btn-square c-btn-red c-btn-border-1x c-font-uppercase">Remove item from Call</a>
				</div>
			</div>
            {% endfor %}
			<div class="row">
				<div class="c-cart-subtotal-row">
					<div class="col-md-2 col-md-offset-7 col-sm-6 col-xs-6 c-cart-subtotal-border">
						<h3 class="c-font-uppercase c-font-bold c-right c-font-16 c-font-grey-2">Grand Total</h3>
					</div>
					<div class="col-md-1 col-md-offset-8 col-sm-6 col-xs-6 c-cart-subtotal-border">
						<h3 class="c-font-bold c-font-16">{{ precio }} EUR</h3>
					</div>
				</div>
			</div>
			<!-- END: SUBTOTAL ITEM ROW -->
			<div class="c-cart-buttons">
				<a href="{% url 'calendario' proyecto_id %}" class="btn c-btn btn-lg col-md-offset-3 c-theme-btn c-btn-square c-font-white c-font-bold c-font-uppercase">Save</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
						</div>

                    </div>