{% extends 'base.html' %}
{% load static %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

    <div class="kt-portlet kt-portlet--mobile col-lg-11 col-md-11 col-sm-11 kt-block-center">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class='la la-{{ icono_form }}'></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    {{ titulo_tabla }}
                    <small>{{ subtitulo_tabla }}</small>
                </h3>
            </div>
        </div>

        <!--begin::Form-->
        {% if form %}
            <form method="post" class="kt-form kt-form--label-right" id="form_actor" enctype="multipart/form-data"
                  novalidate="novalidate">{% csrf_token %}
                <div class="kt-portlet__body">
                    <div class="form-group">
                        <div class="row">
                            {% with form.ci as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.primer_nombre as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.segundo_nombre as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.primer_apellido as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.segundo_apellido as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.num_pasaporte as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.otro_documento as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.categoria_lic_conduccion as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.apodo as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.sexo as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.fecha_nacimiento as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.pais as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.municipio as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.direccion as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.correo as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }}</label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.telefono as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.telefono_movil as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.instagram as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.subcategoria_servicio as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.idioma as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.habilidades as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.estatura as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.peso as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.color_piel as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.color_ojos as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.tipo_pelo as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.tendencia_racial as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.cadera as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.cintura as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.hombro as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.calzado as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        {% with form.observaciones as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} <h1 class="field_required">*</h1></label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}

                        </div>
                    {% with form.precio_euro as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        <div class="row">

                            {% with form.primera_img as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.segunda_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.tercera_img as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                        <div class="row">
                            {% with form.cuarta_img as field %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                            {% with form.quinta_img as field %}
                                <div class=" col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <label>{{ field.label }} </label>
                                        {{ field }}
                                        {% if field.errors %}
                                            <ul class="errorlist" style="display: block">
                                                {% for error in field.errors %}
                                                    <li style="color: #fd397a; font-size: 80%; margin-top: 0.25rem; width: 100%">{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="ml-lg-auto">
                        <button type="submit" class="btn btn-success" style="margin-right: 5px;">Guardar</button>
                        <a href="{% url 'actores' %}" class="btn btn-clean btn-icon-sm">
                            <i class="la la-long-arrow-left"></i> Ir atrás
                        </a>
                    </div>
                </div>
            </form>
        {% endif %}
        <!--end::Form-->
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'general/jquery-validation/dist/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/jquery-validation/dist/localization/messages_es.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'general/vendors/js/jquery-validation.init.js' %}" type="text/javascript"></script>
    <script>
        $("#form_actor").validate();
        $("#id_fecha_nacimiento").datepicker({
            language: 'es-ES',
            autoHide: 'true',
            format: 'yyyy-mm-dd'
        });
    </script>
{% endblock %}