{% extends 'baseproyect.html' %}
{% load static %}
{% block content %}
	<div class="c-layout-page">

<section id="estudio50" class="c-layout-revo-slider c-layout-revo-slider-9" dir="ltr">
	<div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
		<div class="tp-banner rev_slider" data-version="5.0">
            <ul>
                <li data-index="rs-19" data-transition="zoomout" data-slotamount="default" data-thumb="{% static 'img/logos/fotobannerabajo.jpg'%}" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut"   data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="Video Estudio50" data-description="">
                    <img src="{% static 'img/logos/fotobannerabajo.jpg'%}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <div class="rs-background-video-layer"
                        data-forcerewind="on"
                        data-volume="mute"
                        data-videowidth="100%"
                        data-videoheight="100%"
                        data-videomp4="{% static 'assets/base/media/video/video-1.mp4'%}"
                        data-videopreload="preload"
                        data-videoattributes="loop=loop"
                        data-videoloop="loop"
                        data-forceCover="1"
                        data-aspectratio="16:9"
                        data-autoplay="true"
                        data-autoplayonlyfirsttime="true"
                        data-nextslideatend="false"
                    ></div>
					<!--BEGIN: ACTION BUTTON -->
					<div class="tp-caption randomrotateout tp-resizeme"
						data-x="center"
						data-y="center"
						data-hoffset="-200"
						data-voffset="130"
						data-speed="500"
						data-start="2000"
						data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
						data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:900;e:Back.easeInOut;" >
						<h5 class="c-main-title c-font-20 c-font-bold c-font-white ">
                            Hi. We're <strong style="color: #ff0000">Estudio50</strong><br>
						</h5>
                        <p class="c-font-white">Full-service video production company in Havana since 2012</p>
                        <a href="{% url 'about' %}"  class="c-action-btn btn c-font-white " style="color: #FFFFFF">Know more  ></a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>

<section id="catalog" class="c-content-box c-size-sm c-bg-white">
		{% include 'catalog.html' %}
</section>

<section id="about" class="c-content-box c-size-lg c-bg-white">
	<div class="container" >
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-client-logos-slider-1" data-slider="owl" data-items="3">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1 c-center">
                <img src="{% static 'assets/base/img/layout/logos/logo2012estudio.png'%}" alt="Estudio50Habana" style="height: 100px; background-size: cover;">

            </div>
            <br><br>
            <div class="col-sm-3 col-md-3">
            </div>
            <div class="col-sm-6 col-md-6">
            <div>
            <h3 class="c-font-bold">Especialistas en produccion y servicios audiovisuales</h3>
<p style="font-size: medium">Desde su fundacion en 2012, nuestros servicios incluyen la fotografia, la realizacion de videoclips, peliculas y
    programas de television, la organizacion de multiples eventos, entre otros. Somos un estudio multicultural e
    independiente con vinculos con el ICAIC y otras instituciones estatales y privadas. Contamos con experiencia
    profesional en proyectos de alcance nacional e internacional</p><p>
            </p>
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-xs-4">
                       <a href="{% url 'about' %}" style="color: red; font-size: small;">Know More  ></a>
                    </div>
                    {% if not request.user.is_authenticated %}
                    <div class="col-sm-3 col-md-3 col-xs-3">
                       <a href="#" data-toggle="modal" data-target="#login-form" style="color: red; font-size: small;">Log in  ></a>
                    </div>
                    {% endif %}
                    <div class="c-onepage-link col-sm-2 col-md-2 col-xs-3">
                       <a href="#contact" class="c-link" style="color: red; font-size: small;">Contacts  ></a>
                    </div>
                    <div class="col-sm-3 col-md-3 col-xs-1" >
                    </div>
                    <div class="col-sm-1 col-md-1 col-xs-1" >
                    </div>

                </div>


            </div>

            </div>


            <div class="col-sm-3 col-md-3">
            <div class="c-center">
           </div></div>
        </div>
    </div>
        </section>

<section id="partners" class="c-content-box c-size-lg c-bg-white">

            <div class="c-content-box c-size-md c-bg-parallax" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({% static 'img/logos/fotobannerabajo.jpg' %});" >
                <div class="container">
                    <div class="c-content-bar-4">
                        <strong style="color: #ff0000" class=" c-font-bold">Estudio50</strong><p class="c-font-white">Do you want to be part of our team?</p>
                        <a href="{% url 'partners' %}"  class="c-action-btn btn c-font-white " style="color: #FFFFFF">Work Together  ></a>

                    </div>
                </div>
            </div>

<div class="c-content-box c-size-md">
	<div class="container">
		<!-- Begin: Testimonals 1 component -->
		<div class="c-content-client-logos-slider-1" data-slider="owl">
			<!-- Begin: Title 1 component -->
			<div class="c-content-title-1">
				<h3 class="c-center c-font-bold">Brand Relationships</h3>
			</div>
			<!-- End-->
			<!-- Begin: Owlcarousel -->
			<section class="section section-default mt-none mb-none">
<div class="container">
<p class="c-center c-font-bold">We are extremely pround to refer to brands as more than just clients</p>
    <br>
    <img alt="" style="width: 100%;" src="{% static 'assets/base/img/layout/logos/E50_Brand-relationship_Guideline_Home_A11111.jpg' %}"/>
</div>
</section>

	    </div>
	</div>
</div>
</section>


    </div>
{% endblock %}