<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">

    <div class="card">
        <div class="card-header" id="headingTwo6">
            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false"
                 aria-controls="collapseTwo6">
                <i class="flaticon-search"></i> Filtrar
            </div>
        </div>
        <div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordionExample6">
            <div class="card-body">
                <div class="buscar_abastecimiento">
                    <form action="" method="GET">

                        <div class="buscar_abastecimiento_content">

                            <div class="search_field">
                                <label>Nombre del abastecimiento:</label>
                                <input type="text" class="form-control" placeholder="Nombre del abastecimiento ..."
                                       title="Escriba el nombre del abastecimiento"
                                       name="nombre" value="{{ request.GET.nombre }}">
                            </div>

                            <div class="search_field">
                                <label>Subcategoría de servicio:</label>
                                <select name="subcategoria_servicio" class="form-control" title="Seleccione una subcategoría de servicio">
                                    <option value="">Seleccione una subcategoría de servicio ...</option>
                                    {% for subcategoria_servicio in subcategorias_servicio %}
                                        <option value="{{ subcategoria_servicio.id }}"
                                                {% if subcategoria_servicio.id|striptags == request.GET.subcategoria_servicio %}selected{% endif %}>{{ subcategoria_servicio.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="search_field">
                                <label>Nombre del producto:</label>
                                <input type="text" class="form-control" placeholder="Nombre del producto ..."
                                       title="Escriba el nombre del producto"
                                       name="nombre_producto" value="{{ request.GET.nombre_producto }}">
                            </div>
                        </div>

                        <div class="div_search_buttons">
                            <button type="submit" style="margin-right: 5px" title="Buscar"
                                    class="btn btn-default btn_normal search_button"><span
                                    class="flaticon-search-magnifier-interface-symbol"></span>
                            </button>

                            <a class="btn btn-default btn_normal search_button"
                               href="{% url 'abastecimientos' %}"
                               title="Limpiar filtros"> <span class="flaticon2-refresh"></span>
                            </a>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>