{% extends 'base.html' %}
{% load static serializer_actor_object_list %}

{% block title %}{{ titulo }}{% endblock %}

{% block styles %}
    <link href="{% static 'general/bootstrap-sweetalert/sweetalert.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">

            {% include 'tablas/titulo_tabla_listado.html' %}

                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="kt-portlet__head-actions">
                            {% if perms.actor.add_actor %}
                                <a href="{% url 'registrar_actor' %}" style="margin-right: 5px"
                                   class="btn btn-brand btn-elevate btn-icon-sm kt-margin-5-tablet-and-mobile">
                                    <i class="la la-plus"></i> Registrar
                                </a>
                            {% endif %}
                            {% if perms.actor.delete_actores_seleccionados %}
                                <a onclick="mostrar_confirmacion_eliminar_seleccionados('los actores seleccionados')"
                                   data-href="{% url 'eliminar_actores_seleccionados' %}"
                                   id="btn_eliminar_seleccionados" title="Eliminar actores seleccionados" href="javascript:;"
                                   class="btn btn-brand btn-danger btn-icon-sm kt-margin-5-tablet-and-mobile">
                                    <i class="la la-trash"></i> Eliminar seleccionados
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
        </div>

        <div class="kt-portlet__body">
            {% include 'actor/filtrar_actor.html' %}
        </div>


        <div class="kt-portlet__body">

            <div class="kt-datatable" id="local_data"
                 data-actores="{{ object_list|serializer_actores }}"
                 data-modificar_actor="{{ perms.actor.change_actor }}"
                 data-deshabilitar_actor="{{ perms.actor.disable_actor }}"
                 data-habilitar_actor="{{ perms.actor.enable_actor }}"
                 data-eliminar_actor="{{ perms.actor.delete_actor }}"
                 data-detalles_actor="{{ perms.actor.view_actor }}"
                 data-registrar_evento="{{ perms.evento.add_eventoactor }}"
                 data-listado_evento="{{ perms.evento.view_eventoactor }}">
            </div>

            {% include 'tablas/paginado.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/tablas/actor/listado_actores.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/block-ui/jquery.blockUI.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/bootstrap-sweetalert/sweetalert.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'general/vendors/js/ui-sweetalert.min.js' %}" type="text/javascript"></script>
{% endblock %}