<div class="modal" id="id_modal_evento" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 300px;">
            <div class="modal-header" style="background-color: #4AB3F4">
                <h1 class="modal-title" style="color: black"> <i class="la la-cog"></i> Opciones del Evento</h1>
                <button style="color: black" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="kt-timeline-v2">
                    <div class="kt-timeline-v2__items  kt-padding-top-25 kt-padding-bottom-30">
                        <div class="kt-timeline-v2__item">
                            <div class="kt-timeline-v2__item-cricle">
                                <i class="fa fa-genderless kt-font-success"></i>
                            </div>
                            <div class="kt-timeline-v2__item-text  kt-padding-top-5">
                                {% if perms.evento.view_evento %}
                                    <a href="{% url 'detalles_evento' proyecto_id proyecto_id %}" class="kt-link"
                                       style="color: #6c7293">
                                        Detalles del Evento
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="kt-timeline-v2__item">
                            <div class="kt-timeline-v2__item-cricle">
                                <i class="fa fa-genderless kt-font-info"></i>
                            </div>
                            <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                {% if perms.evento.change_evento %}
                                    <a href="{% url 'modificar_evento' proyecto_id proyecto_id %}" class="kt-link"
                                       style="color: #6c7293">
                                        Modificar Evento
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="kt-timeline-v2__item">
                            <div class="kt-timeline-v2__item-cricle">
                                <i class="fa fa-genderless kt-font-danger"></i>
                            </div>
                            <div class="kt-timeline-v2__item-text kt-padding-top-5">
                                {% if perms.evento.delete_evento %}
                                    <a href="javascript:;" class="kt-link"
                                       onclick="mostrar_confirmacion_eliminar({{ object.id }})"
                                       data-texto="el evento seleccionado"
                                       data-href="{% url 'eliminar_evento' proyecto_id proyecto_id %}"
                                       id="btn_eliminar_{{ object.id }}" style="color: #6c7293">
                                        Eliminar Evento
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Este es el pie del modal aqui puedes agregar mas botones-->
            <div class="modal-footer">
                <button style="color: #89124e" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
